doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title ТехноСила
		//- запрос ширины
		meta(name='viewport', content='width=device-width')
		//- иконка
		link(rel='apple-touch-icon', sizes='180x180', href='./images/favicon/apple-touch-icon.png')
		link(rel='icon', type='image/png', href='./images/favicon/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='./images/favicon/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/manifest.json')
		link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#fd0')
		meta(name='theme-color', content='#ffffff')
		//- стили
		link(rel='stylesheet', type='text/css', href='./styles/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='./styles/css/main.css')
		link(rel="stylesheet", type='text/css', href="./styles/css/slick-theme.css")
	body
		.b-body
			//- информационная панель хедера
			.b-container
				.b-information
					span.b-information__city Город:
					a.b-information__name-city(href='javascript:void(0)') Ульяновск
					a.b-information__phone(href='tel:+78007752100') 8 800 775 21 00
					ul.b-information__top-list
						li.b-information__top-item
							a.b-information__link(href='javascript:void(0)', title='') Магазины
						li.b-information__top-item
							a.b-information__link(href='javascript:void(0)', title='') Програма лояльности
						li.b-information__top-item
							a.b-information__link(href='javascript:void(0)', title='') Сервис и поддержка
						li.b-information__top-item
							a.b-information__link(href='javascript:void(0)', title='') Статус заказа
						li.b-information__top-item
							a.b-information__link.b-information__link--recolor(href='javascript:void(0)', title='') Акции
			hr.b-horizontal-line.b-horizontal-line--header
			//-хедер
			.b-container
				header.b-header
					.b-menu-mobile
					a.b-header__logo-link(href='javascript:void(0)' title='На главную')
						img.b-header__logo(src='./images/logo-ts.svg', alt='ТехноСила' title='На Главную')
					form.b-header__form(action='', name='search-form', method='get', target='_blank')
						input.b-header__search(type='text', placeholder='Поиск среди 100 000 товаров', value='', name='q', autocomplete='off', required='')
						button.b-header__button(type='submit', name='q')
					.b-header__right-side
						a.b-header__login
							.b-header__login-head Кабинет
							.b-header__login-link Войти
						a.b-header__basket(href='javascript:void(0)', title='')
							span.b-header__meter 4
			//- мобильная навигация
			nav.b-mobile-nav
				.b-container
					ul.b-mobile-nav__list
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Личный кабинет Войти
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Каталог товаров
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Акции
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Распродажа
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Услуги
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Магазины
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Бонусная программа
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Что с моим заказом
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Помощь
						li.b-mobile-nav__item
							a(href='javascript:void(0)', title='') Ваш город: 
								span Ульяновск
			//-десктопная навигация
			nav.b-main-nav
				.b-container
					ul.b-main-nav__list
						li.b-main-nav__item
							a.b-main-nav__link(href='javascript:void(0)', title='') Электроника
						li.b-main-nav__item
							a.b-main-nav__link(href='javascript:void(0)', title='') Бытовая техника
						li.b-main-nav__item
							a.b-main-nav__link(href='javascript:void(0)', title='') Ремонт и дача
						li.b-main-nav__item
							a.b-main-nav__link(href='javascript:void(0)', title='') Детские товары
						li.b-main-nav__item
							a.b-main-nav__link(href='javascript:void(0)', title='') Мебель
						li.b-main-nav__item
							a.b-main-nav__link(href='javascript:void(0)', title='') Спорт и туризм
						li.b-main-nav__item
							a.b-main-nav__link(href='javascript:void(0)', title='') Дом и дача
						li.b-main-nav__item
							a.b-main-nav__link(href='javascript:void(0)', title='') Авто
			//-слайдер
			.b-slider
				.fotorama(data-autoplay='3000', data-loop='true', data-swipe='true', data-width='100%', data-click='false')
					div(data-img='./images/slide-1.jpg')
						a(href='javascript:void(0)', title='')
					div(data-img='./images/slide-2.jpg')
						a(href='javascript:void(0)', title='')
					div(data-img='./images/slide-1.jpg')
						a(href='javascript:void(0)', title='')
					div(data-img='./images/slide-2.jpg')
						a(href='javascript:void(0)', title='')
					div(data-img='./images/slide-1.jpg')
						a(href='javascript:void(0)', title='')
					div(data-img='./images/slide-2.jpg')
						a(href='javascript:void(0)', title='')
			//- бест контент (лучшее)
			.b-container
				section.b-best-content
					h2.b-best-content__title Лучшее и интересное
					.b-best-content__wrapper
						.b-best-content__item.b-best-content__item--medium
							a.b-best-content__link(href='javascript:void(0)', title='')
								img.b-best-content__picture(src='./images/puzzle-1.jpg', alt='Бонус - скидка 5%')
						.b-best-content__item.b-best-content__item--medium
							a.b-best-content__link(href='javascript:void(0)', title='')
								img.b-best-content__picture(src='./images/puzzle-2.jpg', alt='', title='')
						.b-best-content__item
							a.b-best-content__link(href='javascript:void(0)', title='')
								img.b-best-content__picture(src='./images/puzzle-sm-4.jpg', alt='', title='')
						.b-best-content__item
							a.b-best-content__link(href='javascript:void(0)', title='')
								img.b-best-content__picture(src='./images/puzzle-sm-3.jpg', alt='', title='')
						.b-best-content__item.b-best-content__item--medium
							a.b-best-content__link(href='javascript:void(0)', title='')
								img.b-best-content__picture(src='./images/puzzle-4.jpg', alt='', title='')
						.b-best-content__item.b-best-content__item--medium
							a.b-best-content__link(href='javascript:void(0)', title='')
								img.b-best-content__picture(src='./images/puzzle-3.jpg', alt='', title='')
						.b-best-content__item
							a.b-best-content__link(href='javascript:void(0)', title='')
								img.b-best-content__picture(src='./images/puzzle-sm-2.jpg', alt='', title='')
						.b-best-content__item
							a.b-best-content__link(href='javascript:void(0)', title='')
								img.b-best-content__picture(src='./images/puzzle-sm-1.jpg', alt='', title='')
			hr.b-horizontal-line
			//- преимущества
			.b-container
				.b-advantages
					a.b-advantages__link(href='javascript:void(0)', title='')
						.b-advantages__icon.b-advantages__icon--delivery
						span.b-advantages__title Бесплатная доставка от 5 000 р.
					a.b-advantages__link(href='javascript:void(0)', title='')
						.b-advantages__icon.b-advantages__icon--price
						span.b-advantages__title Гарантия честной цены
					a.b-advantages__link(href='javascript:void(0)', title='')
						.b-advantages__icon.b-advantages__icon--return
						span.b-advantages__title Возврат в течении 60 дней
					a.b-advantages__link(href='javascript:void(0)', title='')
						.b-advantages__icon.b-advantages__icon--payment
						span.b-advantages__title Покупайте сейчас, платите позже
			hr.b-horizontal-line
			//- good контент (вдохновляющий)
			.b-container
				section.b-good-content
					h2.b-good-content__title Вдохновляющий выбор
					.b-good-content__wrapper
						.b-good-content__item
							a.b-good-content__link(href='javascript:void(0)', title='')
								img.b-good-content__picture(src='./images/choice-1.jpg', alt='')
								span.b-good-content__category Электроника
						.b-good-content__item
							a.b-good-content__link(href='javascript:void(0)', title='')
								img.b-good-content__picture(src='./images/choice-2.jpg', alt='')
								span.b-good-content__category Бытовая техника
						.b-good-content__item
							a.b-good-content__link(href='javascript:void(0)', title='')
								img.b-good-content__picture(src='./images/choice-3.jpg', alt='')
								span.b-good-content__category Ремонт и дача
						.b-good-content__item
							a.b-good-content__link(href='javascript:void(0)', title='')
								img.b-good-content__picture(src='./images/choice-2.jpg', alt='')
								span.b-good-content__category Детские товары
						.b-good-content__item
							a.b-good-content__link(href='javascript:void(0)', title='')
								img.b-good-content__picture(src='./images/choice-3.jpg', alt='')
								span.b-good-content__category Мебель
						.b-good-content__item
							a.b-good-content__link(href='javascript:void(0)', title='')
								img.b-good-content__picture(src='./images/choice-2.jpg', alt='')
								span.b-good-content__category Спорт и туризм
						.b-good-content__item
							a.b-good-content__link(href='javascript:void(0)', title='')
								img.b-good-content__picture(src='./images/choice-1.jpg', alt='')
								span.b-good-content__category Дом и дача
						.b-good-content__item
							a.b-good-content__link(href='javascript:void(0)', title='')
								img.b-good-content__picture(src='./images/choice-3.jpg', alt='')
								span.b-good-content__category Авто
			hr.b-horizontal-line
			//- карусель брендов
			.b-container
				section.b-brand
					h2.b-brand__title Бренды
					a.b-brand__switch(href='javascript:void(0)', title='') Ко всем брендам
					.b-brand__buttons
					.b-brand__wrap-item.slick-brand
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-hp.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-canon.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-hp.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-hp.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-canon.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-hp.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-hp.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-hp.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-canon.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-hp.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-canon.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-canon.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-hp.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-canon.jpg', alt='', title='')
						a.b-brand__item(href='javascript:void(0)', title='')
							img.b-brand__image(src='images/brand-canon.jpg', alt='', title='')
			//- ссылка картинка
			.b-container
				a.b-advertising(href='javascript:void(0)', title='')
					img.b-advertising__image.b-advertising__image--desktop(src='./images/delonghi.jpg', alt='получи скидку 20% от DeLonghi', title='')
					img.b-advertising__image.b-advertising__image--tablet(src='./images/delonghi-6-9.jpg', alt='получи скидку 20% от DeLonghi', title='')
					img.b-advertising__image.b-advertising__image--mobile(src='./images/delonghi-3-6.jpg', alt='получи скидку 20% от DeLonghi', title='')
					img.b-advertising__image.b-advertising__image--over-small(src='./images/delonghi-0-3.jpg', alt='получи скидку 20% от DeLonghi', title='')
			hr.b-horizontal-line
			//- карусель рекомендаций
			.b-container
				section.b-recommend
					h2.b-recommend__title Вас может заинтересовать
					.b-recommend__buttons
					.b-recommend__wrap-item.slick-recommend
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-2.jpg', alt='', title='')
								p.b-recommend__name Наушники
								p.b-recommend__cost
									| 9 999
									span.b-recommend__cost--currency.b-recommend__cost р.
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-1.jpg', alt='', title='')
								p.b-recommend__name Чехол Cellular Line COLORSLIPH647К (21818) Black для iPhone 6
								p.b-recommend__cost
									| 2 499
									span.b-recommend__cost--currency.b-recommend__cost р.
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-2.jpg', alt='', title='')
								p.b-recommend__name
									| Смарт-часы Samsung Gear S2 Classic (SM-R7320ZKASER) черный
								p.b-recommend__cost
									| 24 990
									span.b-recommend__cost--currency.b-recommend__cost р.
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-1.jpg', alt='', title='')
								p.b-recommend__name Гарнитура Harman Kardon SOHO BT бел.
								p.b-recommend__cost
									| 15 900
									span.b-recommend__cost--currency.b-recommend__cost р.
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-2.jpg', alt='', title='')
								p.b-recommend__name Наушники
								p.b-recommend__cost
									| 9 999
									span.b-recommend__cost--currency.b-recommend__cost р.
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-1.jpg', alt='', title='')
								p.b-recommend__name Чехол Cellular Line COLORSLIPH647К (21818) Black для iPhone 6
								p.b-recommend__cost
									| 2 499
									span.b-recommend__cost--currency.b-recommend__cost р.
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-2.jpg', alt='', title='')
								p.b-recommend__name Наушники
								p.b-recommend__cost
									| 9 999
									span.b-recommend__cost--currency.b-recommend__cost р.
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-2.jpg', alt='', title='')
								p.b-recommend__name Наушники
								p.b-recommend__cost
									| 9 999
									span.b-recommend__cost--currency.b-recommend__cost р.
						.b-recommend__item
							a.b-recommend__link(href='javascript:void(0)', title='')
								.b-recommend__image-container
									img.b-recommend__image(src='images/product-2.jpg', alt='', title='')
								p.b-recommend__name Наушники
								p.b-recommend__cost
									| 9 999
									span.b-recommend__cost--currency.b-recommend__cost р.
			hr.b-horizontal-line
			section.b-tab
				.b-container
					h2.b-tab__title
						span.b-tab__easy-title Знание—
						| сила
				.wrapper
					.b-container
						.tabs.b-tab__tabs
							span.tab.b-tab__marker.b-tab__marker--recommend Рекомендуем
							span.tab.b-tab__marker.b-tab__marker--choose Как выбрать
							span.tab.b-tab__marker.b-tab__marker--video Видео
							span.tab.b-tab__marker.b-tab__marker--novelty Обзор новинок
							span.tab.b-tab__marker.b-tab__marker--list Списки покупок
							a.b-tab__go-to Перейти в раздел
					.tab_content
						//- первое 1 полное содержимое вкладки
						.tab_item
							//- верхняя тёмная
							.b-tutorial.b-tutorial--dark
								.b-container
									.b-tutorial__left
										h3.b-tutorial__title Как выбрать фитнес-браслет
										p.b-tutorial__description
											| При покупке умного браслета учитывайте то, что они бывают с дисплеем и без. А также обращайте внимание на размер, т.к. уменьшить браслет невозможно. Для нормальной работы гаджета не лишним будет наличие смартфона, и чем новее операционная система, тем лучше. Есть множество примеров, когда браслет является совершенно бесполезным без соответствующего приложения на телефоне.
										div
											a.b-tutorial__how(href='javascript:void(0)', title='')
												| Как выбрать
										a.b-tutorial__more(href='javascript:void(0)', title='')  Читать дальше 
									.b-tutorial__right
										.b-product
											.b-product__sticker-area.b-product__sticker-area--hit
												.b-product__sticker-stock
													| Акция -
													.b-product__helper
														| Какой-то текст для описания акции. Например эта акциия дарит х2 продуктов сразу и 1 потом.
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__image-container
												img.b-product__image(src='images/product-3.jpg', alt='', title='')
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__name
												| Браслет Jawbone UP3 (JL04 - 6262ACH - EM) зелено-голубой
											.b-product__cost.b-product__cost--hot
												| 10 200
												span.b-product__cost.b-product__cost--currency р.
												.b-product__cost-past
													div Было
													| 10 200 р.
											.b-product__add-information Забрать самому сегодня. Доставим сегодня бесплатно
											a(href="javascript:void(0)" title="Посмотреть оценки").b-assessment
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__meter (69)
										.b-product
											.b-product__sticker-area.b-product__sticker-area--hit
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__image-container
												img.b-product__image(src='images/product-3.jpg', alt='', title='')
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__name
												| Браслет Jawbone UP2 (JL03-6064CHK-EM) овсяной
											.b-product__cost
												| 16 300
												span.b-product__cost.b-product__cost--currency р.
												.b-product__cost-past
													div Было
													|  100 00 р.
											.b-product__add-information Забрать самому сегодня. Доставим сегодня бесплатно
											a(href="javascript:void(0)" title="Посмотреть оценки").b-assessment
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__meter (42)
							//- нижняя половина светлая					
							.b-tutorial.b-tutorial--light
								.b-container
									.b-tutorial__left
										h3.b-tutorial__title Какой ноутбук выбрать для работы
										p.b-tutorial__description
											| Отправляясь в магазин за новым ноутбуком, можно растеряться, глядя на множество представленных моделей. Стоимость не является определяющим фактором — подобрать подходящее устройство удается с учетом любого бюджета. Потому необходимо определиться со своими предпочтениями. Не имея достаточного опыта, сложно понять, на какие качества и функции стоит обратить внимание в первую очередь. Давайте разберемся, что нужно учесть, чтобы покупка оказалась максимально полезной и эффективной.
										div
											a.b-tutorial__how(href='javascript:void(0)', title='')
												| Как выбрать
										a.b-tutorial__more(href='javascript:void(0)', title='')  Читать дальше 
										a.b-tutorial__more.b-tutorial__more--recolor(href='javascript:void(0)', title='') Все товары
									.b-tutorial__right
										.b-product
											.b-product__sticker-area
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__image-container
												img.b-product__image(src='images/product-5.jpg', alt='', title='')
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__name
												| БНоутбук Apple MacBook 12.0 MK4N2RU/A золот.
											.b-product__cost
												| 105 900
												span.b-product__cost.b-product__cost--currency р.
												.b-product__cost-past
													div Было
													| 130 200 р.
											.b-product__add-information Забрать самому сегодня. Доставим сегодня бесплатно
											a(href="javascript:void(0)" title="Посмотреть оценки").b-assessment
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__meter (1)
										.b-product
											.b-product__sticker-area
												.b-product__sticker-stock
													| Акция -
													.b-product__helper
														| Какой-то текст для описания акции. Например эта акциия дарит х2 продуктов сразу и 1 потом.
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__image-container
												img.b-product__image(src='images/product-5.jpg', alt='', title='')
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__name
												| Ноутбук Apple MacBook 12.0 MK4N2RU/A золот.
											.b-product__cost.b-product__cost--hot
												| 120 000
												span.b-product__cost.b-product__cost--currency р.
												.b-product__cost-past
													div Было
													| 208 800 р.
											.b-product__add-information Забрать самому сегодня. Доставим сегодня бесплатно
											a(href="javascript:void(0)" title="Посмотреть оценки").b-assessment
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__meter (554)
						//- второе 2 полное содержание вкладки
						.tab_item
							//- нижняя половина светлая					
							.b-tutorial.b-tutorial--light
								.b-container
									.b-tutorial__left
										h3.b-tutorial__title Какой ноутбук выбрать для работы
										p.b-tutorial__description
											| Отправляясь в магазин за новым ноутбуком, можно растеряться, глядя на множество представленных моделей. Стоимость не является определяющим фактором — подобрать подходящее устройство удается с учетом любого бюджета. Потому необходимо определиться со своими предпочтениями. Не имея достаточного опыта, сложно понять, на какие качества и функции стоит обратить внимание в первую очередь. Давайте разберемся, что нужно учесть, чтобы покупка оказалась максимально полезной и эффективной.
										div
											a.b-tutorial__how(href='javascript:void(0)', title='')
												| Как выбрать
										a.b-tutorial__more(href='javascript:void(0)', title='')  Читать дальше 
										a.b-tutorial__more.b-tutorial__more--recolor(href='javascript:void(0)', title='') Все товары
									.b-tutorial__right
										.b-product
											.b-product__sticker-area
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__image-container
												img.b-product__image(src='images/product-5.jpg', alt='', title='')
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__name
												| БНоутбук Apple MacBook 12.0 MK4N2RU/A золот.
											.b-product__cost
												| 105 900
												span.b-product__cost.b-product__cost--currency р.
												.b-product__cost-past
													div Было
													| 130 200 р.
											.b-product__add-information Забрать самому сегодня. Доставим сегодня бесплатно
											a(href="javascript:void(0)" title="Посмотреть оценки").b-assessment
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span (1)
										.b-product
											.b-product__sticker-area
												.b-product__sticker-stock
													| Акция -
													.b-product__helper
														| Какой-то текст для описания акции. Например эта акциия дарит х2 продуктов сразу и 1 потом.
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__image-container
												img.b-product__image(src='images/product-5.jpg', alt='', title='')
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__name
												| Ноутбук Apple MacBook 12.0 MK4N2RU/A золот.
											.b-product__cost.b-product__cost--hot
												| 120 000
												span.b-product__cost.b-product__cost--currency р.
												.b-product__cost-past
													div Было
													| 208 800 р.
											.b-product__add-information Забрать самому сегодня. Доставим сегодня бесплатно
											a(href="javascript:void(0)" title="Посмотреть оценки").b-assessment
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__meter (554)
							//- верхняя тёмная
							.b-tutorial.b-tutorial--dark
								.b-container
									.b-tutorial__left
										h3.b-tutorial__title Как выбрать фитнес-браслет
										p.b-tutorial__description
											| При покупке умного браслета учитывайте то, что они бывают с дисплеем и без. А также обращайте внимание на размер, т.к. уменьшить браслет невозможно. Для нормальной работы гаджета не лишним будет наличие смартфона, и чем новее операционная система, тем лучше. Есть множество примеров, когда браслет является совершенно бесполезным без соответствующего приложения на телефоне.
										div
											a.b-tutorial__how(href='javascript:void(0)', title='')
												| Как выбрать
										a.b-tutorial__more(href='javascript:void(0)', title='')  Читать дальше 
									.b-tutorial__right
										.b-product
											.b-product__sticker-area.b-product__sticker-area--hit
												.b-product__sticker-stock
													| Акция -
													.b-product__helper
														| Какой-то текст для описания акции. Например эта акциия дарит х2 продуктов сразу и 1 потом.
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__image-container
												img.b-product__image(src='images/product-3.jpg', alt='', title='')
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__name
												| Браслет Jawbone UP3 (JL04 - 6262ACH - EM) зелено-голубой
											.b-product__cost.b-product__cost--hot
												| 10 200
												span.b-product__cost.b-product__cost--currency р.
												.b-product__cost-past
													div Было
													| 10 200 р.
											.b-product__add-information Забрать самому сегодня. Доставим сегодня бесплатно
											a(href="javascript:void(0)" title="Посмотреть оценки").b-assessment
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__meter (69)
										.b-product
											.b-product__sticker-area.b-product__sticker-area--hit
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__image-container
												img.b-product__image(src='images/product-3.jpg', alt='', title='')
											a(href="javascript:void(0)" title="Подробнее о товаре").b-product__name
												| Браслет Jawbone UP2 (JL03-6064CHK-EM) овсяной
											.b-product__cost
												| 16 300
												span.b-product__cost.b-product__cost--currency р.
												.b-product__cost-past
													div Было
													|  100 00 р.
											.b-product__add-information Забрать самому сегодня. Доставим сегодня бесплатно
											a(href="javascript:void(0)" title="Посмотреть оценки").b-assessment
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--full
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__star.b-assessment__star--empty
												span.b-assessment__meter (42)
						//- третье 3 полное содержание вкладки
						.tab_item 
								.d123123(style='background-color: #f44b4b; height: 500px') 
									.b-container Содержимое 3
						//- четвёртое 4 полное содержание вкладки
						.tab_item 
							.b-container Содержимое 4
						//- пятое 5 полное содержание вкладки
						.tab_item 
							.b-container Содержимое 5
			//- история просмотров
			.b-container
				section#carousel-3-js.b-history-watch
					h2.b-history-watch__title Вы недавно просматривали
					.b-history-watch__buttons
					.b-history-watch__wrap-item.slick-hw
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name  LG 55UF670V
								p.b-history-watch__cost
									| 53 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name Samsung UE-48JU6610U Smart UHD LED
								p.b-history-watch__cost.b-history-watch__cost--hot
									| 53 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name LG 55UF670V
								p.b-history-watch__cost.b-history-watch__cost--hot
									| 21 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name Samsung UE-48JU6610U Smart UHD LED
								p.b-history-watch__cost
									| 53 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name Samsung UE-48JU6610U Smart UHD LED
								p.b-history-watch__cost
									| 53 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name Samsung UE-48JU6610U Smart UHD LED
								p.b-history-watch__cost
									| 53 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name  LG 55UF670V
								p.b-history-watch__cost
									| 53 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name  LG 55UF670V
								p.b-history-watch__cost
									| 53 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name  LG 55UF670V
								p.b-history-watch__cost
									| 53 190
									span.b-history-watch__cost--currency р.
							a.b-history-watch__item(href='javascript:void(0)', title='')
								.b-history-watch__image-container
									img.b-history-watch__image(src='images/product-4.jpg', alt='', title='')
								.b-history-watch__name-wrapper
									p.b-history-watch__name  LG 55UF670V
								p.b-history-watch__cost
									| 53 190
									span.b-history-watch__cost--currency р.
			//- подписаться
			.b-container
				section.b-subscribe
					h2.b-subscribe__title Остовайтесь на связи
					.b-subscribe__dropdown
						p.b-subscribe__description
							| Узнавайте о выгодных предложениях и получайте персональные рекомендации
						form.b-subscribe__form(action='', name='search-form', method='get', target='_blank')
							input.b-subscribe__mail(type='email', placeholder='Ваша электронная почта', value='', name='mail', autocomplete='off', required='')
							button.b-subscribe__button(type='submit', name='mail')  Подписаться
			footer.b-footer
				.b-container
					.b-footer__column.b-footer__column--tablet
						h3.b-footer__title Наши преимущества
					.b-footer__column
						h3.b-footer__title.b-js-footer__title О техносиле
						ul.b-footer__link-list
							li
								a.b-footer__link(href='javascript:void(0)', title='') Новости компании
							li
								a.b-footer__link(href='javascript:void(0)', title='') Вакансии
							li
								a.b-footer__link(href='javascript:void(0)', title='') Контактная информация
							li
								a.b-footer__link(href='javascript:void(0)', title='') Арендодателям
							li
								a.b-footer__link(href='javascript:void(0)', title='') Юридическая и финансовая информация
					.b-footer__column
						h3.b-footer__title.b-js-footer__title Помощь покупателю
						ul.b-footer__link-list
							li
								a.b-footer__link(href='javascript:void(0)', title='') Как сделать заказ на сайте
							li
								a.b-footer__link(href='javascript:void(0)', title='') Оплата
							li
								a.b-footer__link(href='javascript:void(0)', title='') Доставка
							li
								a.b-footer__link(href='javascript:void(0)', title='') Адреса магазинов
							li
								a.b-footer__link(href='javascript:void(0)', title='') Возврат и обмен
							li
								a.b-footer__link(href='javascript:void(0)', title='') Пользовательское соглашение
							li
								a.b-footer__link(href='javascript:void(0)', title='') Обратная связь
					.b-footer__column
						h3.b-footer__title.b-js-footer__title Услуги и сервисы
						ul.b-footer__link-list
							li
								a.b-footer__link(href='javascript:void(0)', title='') Покупка в кредит
							li
								a.b-footer__link(href='javascript:void(0)', title='') Бонусная программа
							li
								a.b-footer__link(href='javascript:void(0)', title='') Установка и настройка техники
							li
								a.b-footer__link(href='javascript:void(0)', title='') Подарочные карты
							li
								a.b-footer__link(href='javascript:void(0)', title='') Программа доп. сервиса «Сервис+»
							li
								a.b-footer__link(href='javascript:void(0)', title='') Страхование техники
							li
								a.b-footer__link(href='javascript:void(0)', title='') Гарантийное обслуживание
							li
								a.b-footer__link(href='javascript:void(0)', title='') Программа ТЕХНОТРЕНД
							li
								a.b-footer__link(href='javascript:void(0)', title='') Адреса сервисных центров
					.b-footer__column
						h3.b-footer__title.b-footer__title--call Есть вопросы? Звоните!
						p.b-footer__phone
							a.b-footer__call(href='tel:+74957752100', title='Для звонков по Москве') 8 495 775 21 00
							span.b-footer__call-hint Для звонков по Москве
						p.b-footer__phone
							a.b-footer__call(href='tel:+78007752100', title='Для звонков по России (бесплатно)') 8 800 775 21 00
							span.b-footer__call-hint Для звонков по России (бесплатно)
						.b-footer__social
							a.b-footer__icon.b-footer__icon--vk(href='http://vk.com/tehnosila', target='_blank', title='ВКонтакте', rel='nofollow')
							a.b-footer__icon.b-footer__icon--fb(href='http://www.facebook.com/Tehnosila', target='_blank', title='Facebook', rel='nofollow')
							a.b-footer__icon.b-footer__icon--tw(href='http://twitter.com/ru_Tehnosila', target='_blank', title='Twitter', rel='nofollow')
							a.b-footer__icon.b-footer__icon--ok(href='http://www.ok.ru/tehnosila', target='_blank', title='Одноклассники', rel='nofollow')
							a.b-footer__icon.b-footer__icon--in(href='http://instagram.com/tehnosila_ru', target='_blank', title='Instagram', rel='nofollow')
							a.b-footer__icon.b-footer__icon--yt(href='http://www.youtube.com/user/RuTehnosila', target='_blank', title='YouTube', rel='nofollow')
							a.b-footer__icon.b-footer__icon--gp(href='https://plus.google.com/u/0/+RuTehnosila/posts?hl=ru', target='_blank', title='Google+', rel='nofollow')
					.b-footer__additional
						span Техносила © 2016 Все цены указыны в рублях.
						.b-footer__disign
							a.b-footer__img-aero(href='javascript:void(0)', title='На сайт автора')
								img(src='./images/aero.png', alt='Aero', title='')
							span Дизайн
							a.b-footer__link-aero(href='javascript:void(0)', title='На сайт автора') Aero
		//- скрипты
		script(type='text/javascript', src='./scripts/jquery-3.2.0.min.js')
		script(type='text/javascript', src='./scripts/fotorama.js')
		script(type='text/javascript', src='./scripts/tab.js')
		script(type='text/javascript', src='./scripts/accordion.js')
		script(type='text/javascript', src='./scripts/dropdown.js')
		script(type='text/javascript', src='./scripts/slick.min.js')
		script(type='text/javascript', src='./scripts/slick-my.js')