/*   ----------- Import ------------  */
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url(../../fonts/MSC-300.ttf);
}
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url(../../fonts/MSC-500.ttf);
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url(../../fonts/MSC-700.ttf);
}
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url(../../fonts/MSC-900.ttf);
}
body {
  font-family: 'MuseoSansCyrl-500', Arial, helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
}
/* ---------- Fotorama 4.6.4  ----------- */
.fotorama__arr:focus:after,
.fotorama__fullscreen-icon:focus:after,
.fotorama__html,
.fotorama__img,
.fotorama__nav__frame:focus .fotorama__dot:after,
.fotorama__nav__frame:focus .fotorama__thumb:after,
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.fotorama--fullscreen,
.fotorama__img {
  max-width: 99999px!important;
  max-height: 99999px!important;
  min-width: 0!important;
  min-height: 0!important;
  border-radius: 0!important;
  box-shadow: none!important;
  padding: 0 !important;
}
.fotorama__wrap .fotorama__grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.fotorama__grabbing * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.fotorama__spinner {
  position: absolute!important;
  top: 50%!important;
  left: 50% !important;
}
.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border,
.fotorama__wrap--css3 .fotorama__video-close,
.fotorama__wrap--css3 .fotorama__video-play {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fotorama__caption,
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before,
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__nav,
.fotorama__wrap--css3 .fotorama__spinner,
.fotorama__wrap--css3 .fotorama__stage,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img,
.fotorama__wrap--css3 .fotorama__stage__frame {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.fotorama__arr:focus,
.fotorama__fullscreen-icon:focus,
.fotorama__nav__frame {
  outline: 0;
}
.fotorama__arr:focus:after,
.fotorama__fullscreen-icon:focus:after,
.fotorama__nav__frame:focus .fotorama__dot:after,
.fotorama__nav__frame:focus .fotorama__thumb:after {
  content: '';
  border-radius: inherit;
  background-color: rgba(0, 175, 234, 0.5);
}
.fotorama__wrap--video .fotorama__stage,
.fotorama__wrap--video .fotorama__stage__frame--video,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__shaft {
  -webkit-transform: none!important;
  transform: none !important;
}
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border {
  transition-property: -webkit-transform, width;
  transition-property: transform, width;
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  transition-duration: 0ms;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__no-select,
.fotorama__video-close,
.fotorama__video-play,
.fotorama__wrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fotorama__select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.fotorama__nav,
.fotorama__nav__frame {
  margin: auto;
  padding: 0;
}
.fotorama__caption__wrap,
.fotorama__nav__frame,
.fotorama__nav__shaft {
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}
.fotorama__nav__frame,
.fotorama__thumb-border {
  box-sizing: content-box;
}
.fotorama__caption__wrap {
  box-sizing: border-box;
}
.fotorama--hidden,
.fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__nav,
.fotorama__nav__frame,
.fotorama__nav__shaft,
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video-close,
.fotorama__video-play {
  -webkit-tap-highlight-color: transparent;
}
.fotorama__thumb {
  background-color: #7f7f7f;
  background-color: rgba(127, 127, 127, 0.2);
}
.fotorama {
  min-width: 1px;
  overflow: hidden;
}
.fotorama:not(.fotorama--unobtrusive) > *:not(:first-child) {
  display: none;
}
.fullscreen {
  width: 100%!important;
  height: 100%!important;
  max-width: 100%!important;
  max-height: 100%!important;
  margin: 0!important;
  padding: 0!important;
  overflow: hidden!important;
  background: #000;
}
.fotorama--fullscreen {
  position: absolute!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  float: none!important;
  z-index: 2147483647!important;
  background: #000;
  width: 100%!important;
  height: 100%!important;
  margin: 0 !important;
}
.fotorama--fullscreen .fotorama__nav,
.fotorama--fullscreen .fotorama__stage {
  background: #000;
}
.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
  direction: ltr;
  z-index: 0;
}
.fotorama__wrap--rtl .fotorama__stage__frame {
  direction: rtl;
}
.fotorama__nav,
.fotorama__stage {
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
.fotorama__wrap--pan-y {
  -ms-touch-action: pan-y;
}
.fotorama__wrap .fotorama__pointer {
  cursor: pointer;
}
.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important;
}
.fotorama__stage__frame {
  overflow: hidden;
}
.fotorama__stage__frame.fotorama__active {
  z-index: 8;
}
.fotorama__wrap--fade .fotorama__stage__frame {
  display: none;
}
.fotorama__wrap--fade .fotorama__fade-front,
.fotorama__wrap--fade .fotorama__fade-rear,
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
  display: block;
  left: 0;
  top: 0;
}
.fotorama__wrap--fade .fotorama__fade-front {
  z-index: 8;
}
.fotorama__wrap--fade .fotorama__fade-rear {
  z-index: 7;
}
.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
  z-index: 9;
}
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
  display: none;
}
.fotorama__img {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border: none !important;
}
.fotorama__error .fotorama__img,
.fotorama__loaded .fotorama__img {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,
.fotorama__img--full {
  display: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
  display: block;
}
.fotorama__wrap--only-active .fotorama__nav,
.fotorama__wrap--only-active .fotorama__stage {
  max-width: 99999px !important;
}
.fotorama__wrap--only-active .fotorama__stage__frame {
  visibility: hidden;
}
.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
  visibility: visible;
}
.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  white-space: nowrap;
  z-index: 5;
}
.fotorama__nav__shaft {
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
}
.fotorama__nav__frame {
  position: relative;
  cursor: pointer;
}
.fotorama__nav--dots {
  display: block;
}
.fotorama__nav--dots .fotorama__nav__frame {
  width: 20px;
  height: 30px;
}
.fotorama__nav--dots .fotorama__nav__frame--thumb,
.fotorama__nav--dots .fotorama__thumb-border {
  display: none;
}
.fotorama__nav--thumbs {
  display: block;
}
.fotorama__nav--thumbs .fotorama__nav__frame {
  padding-left: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
  padding-right: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
  display: none;
}
.fotorama__nav__frame:focus .fotorama__dot:after {
  padding: 1px;
  top: -1px;
  left: -1px;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot:after {
  padding: 3px;
  top: -3px;
  left: -3px;
}
.fotorama__thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.fotorama__nav__frame:focus .fotorama__thumb {
  z-index: 2;
}
.fotorama__caption {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}
.fotorama__caption a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
}
.fotorama__caption a:hover {
  color: #333;
  border-color: rgba(51, 51, 51, 0.5);
}
.fotorama__wrap--rtl .fotorama__caption {
  left: auto;
  right: 0;
}
.fotorama__wrap--no-captions .fotorama__caption,
.fotorama__wrap--video .fotorama__caption {
  display: none;
}
.fotorama__caption__wrap {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.fotorama__wrap--css3 .fotorama__spinner {
  -webkit-animation: spinner 24s infinite linear;
  animation: spinner 24s infinite linear;
}
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.fotorama__select {
  cursor: auto;
}
.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
.fotorama__arr--disabled {
  pointer-events: none;
  cursor: default;
  *display: none;
  opacity: 0.1;
}
.fotorama__fullscreen-icon {
  width: 32px;
  height: 32px;
  top: 2px;
  right: 2px;
  background-position: 0 -32px;
  z-index: 20;
}
.fotorama__arr:focus,
.fotorama__fullscreen-icon:focus {
  border-radius: 50%;
}
.fotorama--fullscreen .fotorama__fullscreen-icon {
  background-position: -32px -32px;
}
.fotorama__video-play {
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px;
  margin-top: -48px;
  background-position: 0 -64px;
  opacity: 0;
}
.fotorama__wrap--css2 .fotorama__video-play,
.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
  display: none;
}
.fotorama__error .fotorama__video-play,
.fotorama__loaded .fotorama__video-play,
.fotorama__nav__frame .fotorama__video-play {
  opacity: 1;
  display: block;
}
.fotorama__nav__frame .fotorama__video-play {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  background-position: -64px -32px;
}
.fotorama__video-close {
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background-position: -64px 0;
  z-index: 20;
  opacity: 0;
}
.fotorama__wrap--css2 .fotorama__video-close {
  display: none;
}
.fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transform: translate3d(32px, -32px, 0);
  transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--video .fotorama__video-close {
  display: block;
  opacity: 1;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 0;
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
  opacity: 1;
}
.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--video .fotorama__fullscreen-icon {
  opacity: 0 !important;
}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  display: none;
}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
  display: block;
}
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
  display: none !important;
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
  -webkit-transform: translate3d(32px, -32px, 0);
  transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {
  -webkit-transform: translate3d(-48px, 0, 0);
  transform: translate3d(-48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
  -webkit-transform: translate3d(48px, 0, 0);
  transform: translate3d(48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon {
  -webkit-transform: translate3d(32px, -32px, 0) !important;
  transform: translate3d(32px, -32px, 0) !important;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev {
  -webkit-transform: translate3d(-48px, 0, 0) !important;
  transform: translate3d(-48px, 0, 0) !important;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
  -webkit-transform: translate3d(48px, 0, 0) !important;
  transform: translate3d(48px, 0, 0) !important;
}
.fotorama__wrap--css3 .fotorama__arr:not(:focus),
.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),
.fotorama__wrap--css3 .fotorama__video-close:not(:focus),
.fotorama__wrap--css3 .fotorama__video-play:not(:focus) {
  transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
}
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 1px 100%, 5px 100%;
}
.fotorama__nav:before,
.fotorama__stage:before {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), transparent);
  background-position: 0 0, 0 0;
  left: -10px;
}
.fotorama__nav.fotorama__shadows--left:before,
.fotorama__stage.fotorama__shadows--left:before {
  left: 0;
}
.fotorama__nav:after,
.fotorama__stage:after {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), transparent);
  background-position: 100% 0, 100% 0;
  right: -10px;
}
.fotorama__nav.fotorama__shadows--right:after,
.fotorama__stage.fotorama__shadows--right:after {
  right: 0;
}
.main-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.fotorama__nav-wrap {
  position: absolute;
  bottom: 15px;
  right: 40px;
  max-width: 1100px;
  height: 21px;
  overflow: hidden;
}
.fotorama__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 50%;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot {
  background-color: rgba(0, 0, 0, 0.6);
}
.fotorama__arr {
  transition: all .3s;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 200px;
  z-index: 10;
}
.fotorama__arr:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.fotorama__arr--prev {
  left: 45px;
}
.fotorama__arr--prev:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 13px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
}
.fotorama__arr--next {
  right: 45px;
}
.fotorama__arr--next:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 13px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.fotorama__nav {
  text-align: right;
}
.fotorama__html div,
.fotorama__html a {
  display: block;
  height: 100%;
}
/*  ---------- General ----------  */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #320;
}
a:hover {
  color: #640;
}
a:active {
  color: #960;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.b-body {
  width: 100%;
}
.b-container {
  max-width: 1250px;
  padding: 0 30px;
  margin: 0 auto;
}
.b-horizontal-line {
  margin: 0;
  border: 0;
  clear: both;
  border-bottom: 1px solid #eee;
}
/* ----- Focus -----*/
/* ---------- Colors  ---------- */
/*  ---------- Desktop 0-1280px +  -----------  */
/*  ---------- Header -----------  */
.js-hidden {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/*  ---------- Header -----------  */
.b-information {
  height: 46px;
  padding-top: 13px;
}
.b-information__top {
  display: flex;
  min-width: 1130px;
  height: 45px;
  padding-top: 15px;
}
.b-information__name-city {
  border-bottom: 1px dashed;
  margin-left: 5px;
}
.b-information__top-list {
  display: flex;
  float: right;
  width: 700px;
  margin-right: 77px;
  justify-content: space-between;
}
.b-information__top-item {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}
.b-information__link:hover {
  color: #fa0;
}
.b-information__link--recolor:link {
  color: #eb2e2c;
}
.b-information__link--recolor:visited {
  color: #eb2e2c;
}
.b-information__link--recolor:hover {
  color: #ff2e2c;
}
.b-information__link--recolor:active {
  color: #eb2e2c;
}
.b-information__phone {
  float: right;
  font-family: MuseoSansCyrl-700;
  font-size: 15px;
  letter-spacing: .375px;
}
.b-menu-mobile {
  display: none;
}
.b-mobile-nav {
  transition: left 200ms;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 58px;
  left: -100%;
  background-color: #fff;
  z-index: 500;
}
.b-header {
  line-height: 80px;
  height: 83px;
}
.b-header__logo {
  display: inline-block;
  height: 45px;
  vertical-align: middle;
}
.b-header__logo-link {
  display: inline-block;
  line-height: 45px;
}
.b-header__form {
  display: inline-block;
}
.b-header__search {
  font-size: 15px;
  display: inline-block;
  width: 690px;
  height: 40px;
  margin: 0 -25px 0 75px;
  padding: 0 50px 0 15px;
  vertical-align: middle;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 0;
}
.b-header__button {
  position: relative;
  z-index: 5;
  left: -15px;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;
  background: 0 0;
}
.b-header__button:focus {
  outline: none;
}
.b-header__button:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: '';
  cursor: pointer;
  background-image: url(../../images/q.png);
  background-repeat: no-repeat;
  background-position: 3px;
}
.b-header__right-side {
  display: inline-block;
  float: right;
}
.b-header__login {
  line-height: 14px;
  display: inline-block;
  height: 45px;
  text-align: right;
  vertical-align: middle;
  border-right: 1px solid #eee;
  padding: 10px 20px;
}
.b-header__login-head {
  font-family: MuseoSansCyrl-700;
  font-size: 13px;
  margin-right: -5px;
}
.b-header__login-link {
  font-size: 13px;
  text-transform: lowercase;
}
.b-header__basket {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 25px;
  vertical-align: middle;
  background-image: url(../../images/basket.png);
  background-repeat: no-repeat;
}
.b-header__meter {
  font-family: MuseoSansCyrl-900;
  line-height: 20px;
  position: absolute;
  top: -8px;
  left: 15px;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  text-align: center;
  color: #000;
  border-radius: 10px;
  background: #ffde00;
}
.b-main-nav {
  height: 60px;
  background-color: #ffde00;
  position: relative;
}
.b-main-nav__list {
  font-family: MuseoSansCyrl-700;
  padding: 0;
  font-size: 15px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}
.b-main-nav__item {
  z-index: 5;
  margin: 0 -20px;
}
.b-main-nav__link {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
}
.b-main-nav__link:hover {
  color: #000;
  background-color: #ffe95e;
}
.b-slider {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ffe95e;
  margin-bottom: 55px;
}
.b-best-content {
  font-size: 0;
  line-height: 0;
  margin-bottom: 55px;
}
.b-best-content__title {
  margin-bottom: 36px;
  font-family: MuseoSansCyrl-700;
  font-size: 25px;
  line-height: 25px;
  text-transform: none;
}
.b-best-content__wrapper {
  margin: 0 -5px;
}
.b-best-content__item {
  display: inline-block;
  padding: 5px;
  width: 25%;
  vertical-align: top;
}
.b-best-content__link {
  display: block;
  width: 100%;
  height: auto;
}
.b-best-content__picture {
  width: 100%;
  height: auto;
}
.b-best-content__item--medium {
  width: 50%;
}
/* ----------  advantages start блок преимуществ   ------------ */
.b-advantages {
  line-height: 150px;
}
.b-advantages__link {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: 25%;
}
.b-advantages__icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  vertical-align: middle;
}
.b-advantages__icon--delivery {
  background-image: url(../../images/adv-1.svg);
}
.b-advantages__icon--price {
  background-image: url(../../images/adv-2.svg);
}
.b-advantages__icon--return {
  background-image: url(../../images/adv-3.svg);
}
.b-advantages__icon--payment {
  background-image: url(../../images/adv-4.svg);
}
.b-advantages__title {
  font-family: MuseoSansCyrl-700;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  width: 150px;
  margin-left: 20px;
  text-align: left;
  vertical-align: middle;
  letter-spacing: normal;
}
/* ----------  Good content  ---------- */
.b-good-content {
  margin-top: 60px;
  font-size: 0;
  line-height: 0;
  margin-bottom: 25px;
}
.b-good-content__title {
  font-family: MuseoSansCyrl-700;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 35px;
  text-transform: none;
}
.b-good-content__wrapper {
  margin: 0 -5px;
}
.b-good-content__item {
  display: inline-block;
  width: 25%;
  padding: 5px;
  padding-bottom: 35px;
  vertical-align: top;
}
.b-good-content__link {
  display: block;
}
.b-good-content__picture {
  width: 100%;
  margin-bottom: 20px;
}
.b-good-content__category {
  font-family: MuseoSansCyrl-700;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: none;
}
/* -----------  Brands  ----------- */
.b-brand {
  margin: 60px 0 36px 0;
  text-align: right;
}
.b-brand *:focus {
  outline: none;
}
.b-brand__title {
  display: inline-block;
  font-family: MuseoSansCyrl-700;
  font-size: 25px;
  line-height: 32px;
  text-transform: none;
  float: left;
}
.b-brand__buttons {
  width: 30px;
  height: 1px;
  display: inline-block;
  position: relative;
  float: right;
  right: 27px;
  top: 17px;
}
.b-brand__wrap-item {
  overflow: hidden;
  margin: 34px -5px 0 -5px;
  clear: both;
}
.b-brand__item {
  display: inline-block;
  width: 190px;
  height: 130px;
  margin: 5px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ccc;
  line-height: 128px;
}
.b-brand__image {
  max-height: 95%;
  max-width: 100%;
  vertical-align: middle;
}
.b-brand__switch {
  display: inline-block;
  border: 1px solid #ccc;
  height: 35px;
  min-width: 35px;
  font-family: MuseoSansCyrl-700;
  font-size: 13px;
  line-height: 35px;
  padding: 0 15px 0 15px;
  vertical-align: middle;
  margin: 0 60px 0 5px;
}
/* -----------  Advertising  ----------- */
.b-advertising {
  display: block;
  margin-bottom: 55px;
}
.b-advertising__image {
  width: 100%;
}
.b-advertising__image--tablet {
  display: none;
}
.b-advertising__image--mobile {
  display: none;
}
.b-advertising__image--over-small {
  display: none;
}
/* ----------  Recomend  ---------- */
.b-recommend {
  margin-top: 58px;
  margin-bottom: 68px;
}
.b-recommend *:focus {
  outline: none;
}
.b-recommend__title {
  display: inline-block;
  font-family: MuseoSansCyrl-700;
  font-size: 25px;
  line-height: 25px;
  text-transform: none;
  float: left;
}
.b-recommend__buttons {
  width: 30px;
  height: 1px;
  display: inline-block;
  position: relative;
  float: right;
  right: 25px;
  top: 10px;
}
.b-recommend__wrap-item {
  clear: both;
  padding-top: 20px;
  overflow: hidden;
}
.b-recommend__item {
  display: inline-block;
  vertical-align: top;
  padding: 5px 30px 0 30px;
}
.b-recommend__image-container {
  line-height: 220px;
  height: 220px;
  text-align: center;
}
.b-recommend__image {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.b-recommend__name {
  text-transform: none;
  font-family: MuseoSansCyrl-700;
  font-size: 15px;
  line-height: 21px;
  height: 63px;
  margin: 35px 0 0 0;
  overflow: hidden;
}
.b-recommend__cost {
  font-family: MuseoSansCyrl-900;
  font-size: 24px;
  line-height: 31px;
  height: 35px;
  margin: 0px;
  overflow: hidden;
}
.b-recommend__cost--currency {
  font-size: 11px;
}
/*  ---------- Tabs ----------  */
.b-tab {
  margin-bottom: 40px;
}
.b-tab__title {
  font-family: MuseoSansCyrl-700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 13px;
  letter-spacing: 1.5px;
}
.b-tab__easy-title {
  margin: 0px;
  font-family: MuseoSansCyrl-300;
  line-height: 30px;
}
.b-tab {
  margin-top: 56px;
}
.b-tab__tabs {
  height: 84px;
  line-height: 85px;
  margin: 0 -25px;
}
.b-tab__marker {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 25px;
  height: 80px;
  cursor: pointer;
}
.b-tab__marker:before {
  content: '';
  position: relative;
  bottom: 2px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
  background-repeat: no-repeat;
}
.b-tab__marker--recommend:before {
  background-image: url(../../images/star.svg);
}
.b-tab__marker--choose:before {
  background-image: url(../../images/quest.svg);
}
.b-tab__marker--video:before {
  background-image: url(../../images/star.svg);
}
.b-tab__marker--novelty:before {
  background-image: url(../../images/quest.svg);
}
.b-tab__marker--list:before {
  background-image: url(../../images/star.svg);
}
.b-tab__go-to {
  display: inline-block;
  font-family: MuseoSansCyrl-700;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid #ddd;
  padding: 10px 20px;
  line-height: 17px;
  float: right;
  margin-top: 15px;
  margin-right: 25px;
  cursor: pointer;
}
.b-tab__item {
  height: 1100px;
}
.wrapper .active {
  font-weight: 700;
}
.wrapper .active:after {
  display: block;
  position: relative;
  content: '';
  height: 5px;
  background-color: #ffde00;
  bottom: 10px;
}
/*  ---------- content in tab (tutorial) -----------  */
.b-tutorial {
  height: 550px;
  min-width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.b-tutorial--dark {
  color: #fafafa;
  background-color: #121212;
  background-image: url(../../images/baner-1.jpg);
}
.b-tutorial--light {
  background-color: #fafafa;
}
.b-tutorial__left {
  width: 38%;
  display: inline-block;
  padding-top: 66px;
  vertical-align: top;
}
.b-tutorial__right {
  float: right;
  line-height: 550px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-right: -4px;
}
.b-tutorial__title {
  font-size: 35px;
  line-height: 45px;
  font-family: MuseoSansCyrl-700;
  text-transform: none;
  margin: 0;
  overflow: hidden;
  max-height: 100px;
}
.b-tutorial__description {
  margin-top: 22px;
  font-size: 15px;
  text-transform: none;
  line-height: 21px;
  overflow: hidden;
  max-height: 250px;
}
.b-tutorial__how {
  text-transform: none;
}
.b-tutorial__how:link {
  color: #a4a4a4;
}
.b-tutorial__how:before {
  content: '';
  position: relative;
  bottom: 2px;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-image: url(../../images/quest.svg);
}
.b-tutorial__more {
  display: inline-block;
  font-family: MuseoSansCyrl-700;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  background-color: #ffde00;
  padding: 11px 20px 10px 20px;
  margin: 15px 5px 0 0;
}
.b-tutorial__more--recolor {
  background-color: #fff;
  border: 1px solid #ddd;
}
/*  ---------- card of product -----------  */
.b-product {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 290px;
  height: 465px;
  background-color: #fff;
  margin: 4px;
  overflow: hidden;
  line-height: 25px;
  padding: 0 23px 0 23px;
}
.b-product__sticker-area {
  position: absolute;
  max-height: 240px;
  top: 15px;
}
.b-product__sticker-area--hit:before {
  content: 'Хит';
  color: #fff;
  display: block;
  width: 36px;
  height: 18px;
  background-color: #309ace;
  font-family: MuseoSansCyrl-900;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
}
.b-product__sticker-stock {
  color: #fff;
  display: inline-block;
  position: relative;
  width: 65px;
  height: 18px;
  background-color: #eb2e2c;
  font-family: MuseoSansCyrl-900;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
}
.b-product__helper {
  display: none;
  position: absolute;
  top: 0px;
  color: #fff;
  background-color: #eb2e2c;
  border-radius: 4px;
  left: 70px;
  width: 140px;
  padding: 5px;
  text-align: left;
  font-size: 12px;
  text-transform: none;
  font-family: MuseoSansCyrl-500;
}
.b-product__sticker-stock:hover .b-product__helper {
  display: inline-block;
}
.b-product__image-container {
  display: block;
  height: 56%;
  line-height: 260px;
  overflow: inherit;
  text-align: center;
}
.b-product__image {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.b-product__name {
  display: inline-block;
  height: 70px;
  overflow: inherit;
  text-transform: none;
  font-family: MuseoSansCyrl-700;
  font-size: 15px;
  line-height: 21px;
}
.b-product__cost {
  height: 40px;
  overflow: inherit;
  font-family: MuseoSansCyrl-900;
  font-size: 24px;
  line-height: 31px;
  margin: 0px;
  color: #000;
}
.b-product__cost--currency {
  font-size: 11px;
}
.b-product__cost--hot {
  color: #eb2e2c;
}
.b-product__cost-past {
  height: 40px;
  overflow: inherit;
  font-family: MuseoSansCyrl-900;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  margin-left: 5px;
  color: #000;
  font-size: 10px;
  vertical-align: middle;
  line-height: 11px;
  height: 23px;
  width: 100px;
  text-transform: none;
  display: inline-block;
}
.b-product__add-information {
  height: 38px;
  overflow: inherit;
  font-family: MuseoSansCyrl-300;
  font-size: 13px;
  line-height: 17px;
  text-transform: none;
  letter-spacing: 0.13px;
  color: #000;
}
/*  ---------- Stars assement оценка-звёздочки -----------  */
.b-assessment {
  height: 30px;
  overflow: inherit;
  font-family: MuseoSansCyrl-300;
  font-size: 13px;
  text-transform: none;
}
.b-assessment__star {
  display: inline-block;
  width: 12px;
  height: 11px;
  background-image: url(../../images/star.png);
  background-repeat: no-repeat;
}
.b-assessment__star--full {
  background-position: 0;
}
.b-assessment__star--empty {
  background-position: -15px;
}
.b-assessment__meter {
  margin-left: 5px;
}
/*  ---------- Story -----------  */
.b-history-watch {
  height: 200px;
  margin-bottom: 35px;
}
.b-history-watch *:focus {
  outline: none;
}
.b-history-watch__title {
  font-family: MuseoSansCyrl-700;
  font-size: 25px;
  line-height: 25px;
  text-transform: none;
  display: inline-block;
}
.b-history-watch__buttons {
  width: 30px;
  height: 1px;
  display: inline-block;
  position: relative;
  float: right;
  right: 32px;
}
.b-history-watch__wrap-item {
  overflow: hidden;
  margin: 30px auto 0 -5px;
}
.b-history-watch__item {
  line-height: 120px;
  display: inline-block;
  width: 290px;
  height: 120px;
  margin: 5px;
  padding-left: 15px;
  vertical-align: top;
  border: 1px solid #ccc;
  position: relative;
}
.b-history-watch__image-container {
  line-height: 80px;
  display: inline-block;
  width: 90px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
}
.b-history-watch__image {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.b-history-watch__name-wrapper {
  position: absolute;
  top: 23px;
  left: 120px;
  overflow: hidden;
  width: 150px;
  height: 51px;
  margin: 0;
  line-height: 17px;
  display: flex;
}
.b-history-watch__name {
  margin: auto 0;
  font-family: MuseoSansCyrl-700;
  font-size: 15px;
  display: inline-block;
  text-transform: none;
}
.b-history-watch__cost {
  font-family: MuseoSansCyrl-900;
  font-size: 24px;
  margin: 0px;
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 120px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.b-history-watch__cost--hot {
  color: red;
}
.b-history-watch--currency {
  font-size: 11px;
}
/*   ----------- Subscribe ------------  */
.b-subscribe {
  min-width: 590px;
}
.b-subscribe__title {
  font-family: MuseoSansCyrl-700;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 13px;
  text-transform: none;
}
.b-subscribe__description {
  font-size: 15px;
  display: inline-block;
  width: 500px;
  text-transform: none;
  margin: 0;
}
.b-subscribe__form {
  display: inline-block;
  vertical-align: text-bottom;
  float: right;
  margin-bottom: 15px;
}
.b-subscribe__mail {
  font-size: 15px;
  display: inline-block;
  width: 380px;
  height: 40px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 0;
}
.b-subscribe__button {
  font-family: MuseoSansCyrl-700;
  font-size: 15px;
  height: 40px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #ffde00;
  padding: 0 40px 0 40px;
}
.b-subscribe:after {
  content: '';
  display: block;
  clear: both;
}
/*   ----------- Footer ------------  */
.b-footer {
  font-size: 0;
  padding: 45px 0 0 0;
  text-transform: none;
  background-color: #efede7;
}
.b-footer__column {
  font-size: 15px;
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
.b-footer__column--tablet {
  display: none;
}
.b-footer__title {
  font-family: MuseoSansCyrl-700;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
}
.b-footer__arrow {
  display: inline-block;
}
.b-footer__link-list {
  width: 250px;
  margin-top: 10px;
}
.b-footer__link {
  font-size: 13px;
  line-height: 22px;
  color: #666;
}
.b-footer__link:hover {
  color: #333;
}
.b-footer__phone {
  margin: 0 0 5px 0;
}
.b-footer__call {
  font-family: MuseoSansCyrl-700;
}
.b-footer__call-hint {
  font-size: 13px;
  line-height: 19px;
  display: block;
}
.b-footer__social {
  margin-top: 20px;
  margin-left: -14px;
  line-height: 30px;
  width: 250px;
}
.b-footer__icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 14px;
  background: url(../../images/social-sprite.png) no-repeat top left;
}
.b-footer__icon--vk {
  background-position: -360px 0;
}
.b-footer__icon--vk:hover {
  background-position: -405px 0;
}
.b-footer__icon--fb {
  background-position: 0 0;
}
.b-footer__icon--fb:hover {
  background-position: -45px 0;
}
.b-footer__icon--tw {
  background-position: -270px 0;
}
.b-footer__icon--tw:hover {
  background-position: -315px 0;
}
.b-footer__icon--ok {
  background-position: -180px 0;
}
.b-footer__icon--ok:hover {
  background-position: -225px 0;
}
.b-footer__icon--in {
  background-position: -90px 0;
}
.b-footer__icon--in:hover {
  background-position: -135px 0;
}
.b-footer__icon--yt {
  background-position: -450px 0;
}
.b-footer__icon--yt:hover {
  background-position: -495px 0;
}
.b-footer__icon--gp {
  background-position: -541px 0;
}
.b-footer__icon--gp:hover {
  background-position: -586px 0;
}
.b-footer__additional {
  font-size: 13px;
  line-height: 60px;
  margin: 20px 0 0 0;
  color: #666;
  border-top: 1px solid #e4e1d9;
  min-width: 600px;
}
.b-footer__disign {
  float: right;
  margin-right: 90px;
}
.b-footer__img-aero {
  position: relative;
  top: 3px;
  margin-right: 5px;
  vertical-align: middle;
  font-size: 20px;
}
.b-footer__link-aero {
  margin-left: 5px;
  vertical-align: baseline;
  text-decoration: underline;
}
.b-footer__link-aero:link {
  color: #666;
}
/*  ---------- Laptop 960-1280px  ---------- */
@media screen and (max-width: 1279px) {
  /* ---------- General  ---------- */
  .b-container {
    padding: 0 20px;
  }
  body {
    font-size: 11px;
    line-height: 21px;
  }
  /* ----------  Header  ---------- */
  .b-information {
    height: 36px;
    padding-top: 6px;
  }
  .b-information__phone {
    font-size: 11px;
  }
  .b-information__top-list {
    width: 60%;
  }
  .b-header {
    height: 78px;
    line-height: 75px;
  }
  .b-header__form {
    width: 45%;
    display: inline-block;
  }
  .b-header__search {
    width: 80%;
  }
  .b-header__logo-link {
    width: 33%;
  }
  .b-header__search {
    margin: 0;
    width: 100%;
    margin-right: -28px;
  }
  .b-main-nav {
    height: 55px;
  }
  .b-main-nav__list {
    line-height: 55px;
    font-size: 13px;
  }
  /* ----------  Slider ---------- */
  .fotorama__arr {
    top: 150px;
  }
  /* ----------  Best content  ---------- */
  .b-best-content {
    margin-bottom: 30px;
  }
  .b-best-content__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  /* -----------  Advantages преимущества  ----------- */
  .b-advantages {
    line-height: 135px;
    margin-bottom: 20px;
  }
  /* -----------  Good content  ----------- */
  .b-good-content {
    margin-top: 35px;
  }
  .b-good-content__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .b-good-content__item {
    margin-bottom: 15px;
    padding-bottom: 0px;
  }
  .b-good-content__picture {
    margin-bottom: 20px;
  }
  .b-good-content__category {
    font-size: 15px;
    line-height: 20px;
  }
  /* -----------  Brands ----------- */
  .b-brand {
    margin-top: 25px;
  }
  .b-brand__item {
    width: 145px;
    height: 100px;
    line-height: 100px;
  }
  .b-brand__wrap-item {
    margin-top: 10px;
  }
  /* -----------  Advertising реклама  ----------- */
  .b-advertising {
    margin-bottom: 30px;
  }
  /* -----------  Recomend  ----------- */
  .b-recommend {
    margin-top: 40px;
    margin-bottom: 55px;
  }
  .b-recommend__title {
    font-size: 20px;
    line-height: 20px;
  }
  .b-recommend__item {
    width: 235px;
  }
  .b-recommend__image-container {
    height: 165px;
    line-height: normal;
  }
  .b-recommend__name {
    font-size: 13px;
    margin-top: 3px;
    line-height: 18px;
    height: 50px;
  }
  /* -----------  Tabs  ----------- */
  .b-tab {
    margin-top: 40px;
  }
  .b-tab__marker {
    font-size: 13px;
    padding: 0 10px;
  }
  .b-tab__tabs {
    margin: 0 -10px;
    height: 68px;
    line-height: 73px;
  }
  .b-tab__go-to {
    font-size: 13px;
    padding: 10px 15px;
    margin-right: 10px;
  }
  .b-tutorial {
    height: 400px;
  }
  .b-tutorial__left {
    width: 48%;
    padding-top: 20px;
  }
  .b-tutorial__title {
    font-size: 30px;
    line-height: 37px;
  }
  .b-tutorial__description {
    max-height: 150px;
  }
  .b-tutorial__right {
    line-height: 400px;
  }
  .b-tutorial__more {
    padding: 7px 10px;
  }
  .b-product {
    height: 355px;
    width: 220px;
  }
  .b-product__image-container {
    line-height: 150px;
  }
  .b-product__name {
    height: 36px;
    font-size: 13px;
    line-height: 18px;
  }
  /* -----------  History watch  ----------- */
  .b-history-watch__title {
    font-size: 20px;
  }
  .b-history-watch__item {
    width: 220px;
  }
  .b-history-watch__name-wrapper {
    width: 100px;
  }
  .b-history-watch__cost {
    font-size: 20px;
    width: 100px;
  }
  .b-history-watch--currency {
    font-size: 9px;
  }
  /* -----------  Subscribe  ----------- */
  .b-subscribe__title {
    font-size: 20px;
  }
  .b-subscribe__description {
    font-size: 13px;
    width: 50%;
  }
  .b-subscribe__form {
    width: 50%;
  }
  .b-subscribe__mail {
    width: 70%;
  }
  .b-subscribe__button {
    width: 25%;
    font-size: 12px;
    padding: 0 10px 0 10px;
  }
  /* -----------  Footer  ----------- */
}
/*  ---------- Tablet 600-960px  ---------- */
@media screen and (max-width: 959px) {
  /* ----------  General  ---------- */
  /* ----------  Header  ---------- */
  .b-information {
    display: none;
  }
  .b-horizontal-line--header {
    display: none;
  }
  /* --- Animation of menu button --- */
  .b-menu-mobile {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 20px;
  }
  .b-menu-mobile:before {
    content: '';
    transition: 250ms;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 20px;
    border-top: 2px solid #999;
    box-shadow: 0px 6px 0px 0px #999999, 0px -6px 0px 0px #999999;
  }
  .b-menu-mobile:hover {
    cursor: pointer;
  }
  .b-menu-mobile:hover:before {
    width: 28px;
    left: -4px;
    box-shadow: 0px 10px 0px 0px #999999, 0px -10px 0px 0px #999999;
  }
  .b-menu-mobile:after {
    content: '';
    transition: 250ms;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 20px;
    border-top: 2px solid #999;
    box-shadow: 0px 6px 0px 0px #999999, 0px -6px 0px 0px #999999;
  }
  .b-menu-mobile:hover {
    cursor: pointer;
  }
  .b-menu-mobile:hover:after {
    width: 28px;
    left: -4px;
    box-shadow: 0px 10px 0px 0px #999999, 0px -10px 0px 0px #999999;
  }
  .js-header-menu-open:before,
  .js-header-menu-open:hover:before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .js-header-menu-open:after,
  .js-header-menu-open:hover:after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
  /* --- end animate --- */
  .b-header {
    height: 60px;
    line-height: 55px;
  }
  .b-header__form {
    float: right;
    position: relative;
    right: 80px;
    width: auto;
  }
  .b-header__search {
    width: 80%;
  }
  .b-header__right-side {
    margin-right: -25px;
  }
  .b-header__logo {
    height: 35px;
  }
  .b-header__logo-link {
    width: auto;
  }
  .b-header__search {
    display: none;
  }
  .b-header__button {
    left: 30px;
  }
  .b-header__login {
    display: none;
  }
  .b-main-nav {
    display: none;
  }
  .js-mobile-nav-open {
    left: 0;
  }
  .b-mobile-nav {
    font-size: 18px;
  }
  .b-mobile-nav__item {
    line-height: 50px;
    border-bottom: 1px solid #666;
  }
  /* ----------  Slider ---------- */
  .fotorama {
    overflow: visible;
  }
  .fotorama__arr {
    top: 95px;
  }
  .fotorama__nav-wrap {
    bottom: -27px;
  }
  .fotorama__nav {
    text-align: center;
  }
  .fotorama__nav--dots .fotorama__nav__frame {
    width: 10px;
  }
  .fotorama__dot {
    width: 6px;
    height: 6px;
    margin-right: 3px;
  }
  .fotorama__arr {
    display: none;
  }
  /* ----------  Best content  ---------- */
  .b-best-content {
    margin-bottom: 30px;
  }
  .b-best-content__title {
    font-size: 25px;
    line-height: 25px;
  }
  .b-best-content__item {
    width: 50%;
  }
  .b-best-content__item--medium {
    width: 100%;
  }
  /* ----------  Преимущества  ---------- */
  .b-advantages {
    line-height: 100px;
  }
  .b-advantages__link {
    width: 50%;
  }
  /* ----------  Good content  ---------- */
  .b-good-content__item {
    width: 50%;
  }
  .b-good-content__title {
    font-size: 25px;
    line-height: 25px;
  }
  .b-good-content__categoty {
    font-size: 20px;
  }
  /* ----------  Brands  ---------- */
  .b-brand__switch {
    margin: 0;
  }
  .b-brand__buttons {
    display: none;
  }
  /* ----------  Picture  ---------- */
  .b-advertising__image {
    width: 100%;
  }
  .b-advertising__image--desktop {
    display: none;
  }
  .b-advertising__image--tablet {
    display: block;
  }
  .b-advertising__image--mobile {
    display: none;
  }
  /* ----------  Recomend  ---------- */
  .b-recommend__buttons {
    display: none;
  }
  .b-recommend__title {
    font-size: 25px;
    line-height: 25px;
  }
  /* ----------  Tabs  ---------- */
  .b-tab {
    position: relative;
  }
  .b-tab__tabs {
    margin-top: 20px;
    overflow: auto;
    white-space: nowrap;
    height: 100px;
  }
  .b-tab__go-to {
    position: absolute;
    right: 10px;
    top: -20px;
  }
  .b-tutorial {
    height: auto;
  }
  .b-tutorial__title {
    line-height: 25px;
    font-size: 25px;
  }
  .b-tutorial__right {
    width: 100%;
    float: none;
  }
  .b-tutorial__left {
    width: 100%;
  }
  /* ----------  History watch  ---------- */
  .b-history-watch {
    height: 300px;
    border-bottom: 1px solid #eee;
  }
  .b-history-watch__title {
    font-size: 25px;
  }
  .b-history-watch__buttons {
    display: none;
  }
  .b-history-watch__item {
    height: auto;
  }
  .b-history-watch__image-container {
    display: block;
    margin: 0 auto;
  }
  .b-history-watch__name-wrapper {
    display: block;
    position: static;
    width: 90%;
    margin: 0 auto;
  }
  .b-history-watch__name {
    font-size: 11px;
  }
  .b-history-watch__cost {
    display: block;
    position: static;
    font-size: 17px;
  }
  .b-history-watch__cost--currency {
    font-size: 10px;
  }
  /* ----------  Subscribe  ---------- */
  .b-subscribe__title {
    cursor: pointer;
  }
  .b-subscribe__title:before {
    transition: 250ms;
    content: '';
    display: inline-block;
    float: right;
    position: relative;
    width: 14px;
    height: 14px;
    border-left: solid 2px #cdcdcd;
    transform: rotate(-45deg);
  }
  .b-subscribe__title:after {
    transition: 250ms;
    content: '';
    display: inline-block;
    float: right;
    position: relative;
    right: -15px;
    width: 14px;
    height: 14px;
    border-right: solid 2px #cdcdcd;
    transform: rotate(45deg);
  }
  .b-subscribe__title.b-js-active:after {
    transform: rotate(-45deg);
  }
  .b-subscribe__title.b-js-active:before {
    transform: rotate(45deg);
  }
  .b-subscribe {
    min-width: 0;
  }
  .b-subscribe__title {
    margin-bottom: 20px;
  }
  .b-subscribe__dropdown {
    display: none;
    min-width: 590px;
  }
  .b-subscribe__description {
    width: 90%;
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .b-subscribe__form {
    float: none;
    width: 90%;
    display: block;
    margin-bottom: 40px;
  }
  /* ----------  Footer  ---------- */
  .b-js-footer__title {
    cursor: pointer;
  }
  .b-js-footer__title:after {
    transition: 250ms;
    content: '';
    display: inline-block;
    float: right;
    width: 14px;
    height: 14px;
    border-bottom: solid 2px #cdcdcd;
    border-right: solid 2px #cdcdcd;
    transform: rotate(45deg);
  }
  .b-js-active .b-js-footer__title:after {
    transform: rotate(-135deg);
  }
  .b-footer {
    padding-top: 15px;
  }
  .b-footer__column {
    display: block;
    width: auto;
    margin-bottom: 21px;
  }
  .b-footer__title {
    line-height: 24px;
  }
  .b-footer__title--call {
    margin-bottom: 25px;
  }
  .b-footer__link-list {
    display: none;
    margin-bottom: 15px;
  }
  .b-footer__column:after {
    content: '';
    display: block;
    border-bottom: 1px solid #ddd;
  }
  .b-footer__column--tablet {
    display: block;
  }
  .b-footer__link-list {
    width: auto;
  }
  .b-footer__link {
    line-height: 30px;
  }
  .b-footer__social {
    width: auto;
    line-height: 50px;
  }
  .b-footer__phone {
    height: 80px;
    width: 180px;
    vertical-align: top;
    display: inline-block;
    margin: 0 5px 0 0;
  }
  .b-footer__call {
    padding: 10px 30px;
    height: auto;
    display: block;
    background-color: #ffde00;
  }
  .b-footer__call-hint {
    font-size: 11px;
  }
  .b-footer__additional {
    border: none;
    line-height: 35px;
    margin-top: -10px;
    padding-bottom: 30px;
  }
  .b-footer__disign {
    float: none;
  }
}
/*  ---------- Mobile 320-600px  ---------- */
@media screen and (max-width: 599px) {
  /* ----------  General  ---------- */
  /* ----------  Header  ---------- */
  .b-header {
    height: 52px;
    line-height: 52px;
  }
  .b-header__logo {
    height: 31px;
  }
  .b-header__basket {
    margin-top: 0;
    width: 22px;
    height: 22px;
    margin-left: 0;
    background-image: url(../../images/basket-m.png);
  }
  .b-header__meter {
    display: none;
  }
  .b-mobile-nav {
    top: 50px;
    font-size: 15px;
  }
  .b-mobile-nav__item {
    line-height: 40px;
    border-bottom: 1px solid #666;
  }
  /* ----------  Best content  ---------- */
  .b-slider {
    margin-bottom: 40px;
  }
  .fotorama__arr {
    top: 40px;
    transform: scale(0.5);
  }
  .fotorama__arr--next {
    right: 10px;
  }
  .fotorama__arr--prev {
    left: 10px;
  }
  /* ----------  Best content  ---------- */
  .b-best-content__title {
    font-size: 20px;
  }
  .b-best-content__item {
    width: 100%;
  }
  /* ----------  Преимущества  ---------- */
  .b-advantages {
    margin: 0;
  }
  .b-advantages__link {
    width: 100%;
  }
  .b-advantages__title {
    width: 50%;
  }
  /* ----------  Good content  ---------- */
  .b-good-content {
    margin-top: 25px;
  }
  .b-good-content__title {
    font-size: 20px;
  }
  .b-good-content__item {
    margin-bottom: 10px;
  }
  .b-good-content__picture {
    margin-bottom: 5px;
  }
  /* ----------  Brands  ---------- */
  .b-brand {
    position: relative;
    height: 160px;
  }
  .b-brand__title {
    font-size: 20px;
  }
  .b-brand__switch {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 140px;
    text-align: center;
  }
  .b-brand__item {
    height: 75px;
    line-height: 74px;
  }
  /* ----------  Picture  ---------- */
  .b-advertising__image {
    width: 100%;
  }
  .b-advertising__image--desktop {
    display: none;
  }
  .b-advertising__image--tablet {
    display: none;
  }
  .b-advertising__image--mobile {
    display: block;
  }
  /* ----------  Recomend  ---------- */
  .b-recommend {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .b-recommend__title {
    font-size: 20px;
  }
  .b-recommend__item {
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
  }
  .b-recommend__image-container {
    height: 120px;
  }
  .b-recommend__name {
    line-height: 15px;
    height: 45px;
  }
  .b-recommend__cost {
    font-size: 20px;
  }
  /* ----------  Tabs  ---------- */
  .b-tab__title {
    font-size: 25px;
  }
  .b-tab__tabs {
    margin-top: 55px;
  }
  .b-tab__marker:before {
    height: 24px;
    width: 24px;
  }
  .b-tab__go-to {
    left: 10px;
    width: 95%;
    top: 35px;
    text-align: center;
  }
  /* ----------  History watch  ---------- */
  .b-history-watch__title {
    font-size: 20px;
  }
  /* ----------  Subscribe  ---------- */
  /* ----------  Footer  ---------- */
}
/*  ---------- Over Small  ---------- */
@media screen and (max-width: 360px) {
  /* ----------  Picture  ---------- */
  .b-advertising__image {
    width: 100%;
  }
  .b-advertising__image--desktop {
    display: none;
  }
  .b-advertising__image--tablet {
    display: none;
  }
  .b-advertising__image--mobile {
    display: none;
  }
  .b-advertising__image--over-small {
    display: block;
  }
}
