/*  ---------- Header -----------  */

.js-hidden {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/*  ---------- Header -----------  */

.b-information {
    height: 46px;
    padding-top: 13px; // не округлено
    &__top {
        display: flex;
        min-width: 1130px;
        height: 45px;
        padding-top: 15px;
    }
    &__city {}
    &__name-city {
        border-bottom: 1px dashed;
        margin-left: 5px;
    }
    &__top-list {
        display: flex;
        float: right;
        width: 700px;
        margin-right: 77px;
        justify-content: space-between;
    }
    &__top-item {
        display: inline-block;
        margin: 0;
        padding: 0 5px;
    }
    &__link {
        &:hover {
            color: #fa0;
        }
        &--recolor {
            &:link {
                color: #eb2e2c;
            }
            &:visited {
                color: #eb2e2c;
            }
            &:hover {
                color: #ff2e2c;
            }
            &:active {
                color: #eb2e2c;
            }
        }
    }
    &__phone {
        float: right;
        font-family: @f700;
        font-size: 15px;
        letter-spacing: .375px; // по формуле s*x/1000
    }
}

.b-menu-mobile {
    display: none;
}

.b-mobile-nav {
    transition: left 200ms;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 58px;
    left: -100%;
    background-color: #fff;
    z-index: 500;
}

.b-header {
    line-height: 80px;
    height: 83px;
    &__logo {
        display: inline-block;
        height: 45px;
        vertical-align: middle;
    }
    &__logo-link {
        display: inline-block;
        line-height: 45px;
    }
    &__form {
        display: inline-block;
    }
    &__search {
        font-size: 15px;
        display: inline-block;
        width: 690px;
        height: 40px;
        margin: 0 -25px 0 75px;
        padding: 0 50px 0 15px;
        vertical-align: middle;
        color: #666;
        border: 1px solid #ddd;
        border-radius: 0;
    }
    &__button {
        position: relative;
        z-index: 5;
        left: -15px;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        border: none;
        background: 0 0;
    }
    &__button:focus {
        outline: none;
    }
    &__button:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        content: '';
        cursor: pointer;
        background-image: url(../../images/q.png);
        background-repeat: no-repeat;
        background-position: 3px;
    }
    &__right-side {
        display: inline-block;
        float: right;
    }
    &__login {
        line-height: 14px;
        display: inline-block;
        height: 45px;
        text-align: right;
        vertical-align: middle;
        border-right: 1px solid #eee;
        padding: 10px 20px;
    }
    &__login-head {
        font-family: @f700;
        font-size: 13px;
        margin-right: -5px;
    }
    &__login-link {
        font-size: 13px;
        text-transform: lowercase;
    }
    &__basket {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-left: 25px;
        vertical-align: middle;
        background-image: url(../../images/basket.png);
        background-repeat: no-repeat;
    }
    &__meter {
        font-family: @f900;
        line-height: 20px;
        position: absolute;
        top: -8px;
        left: 15px;
        display: inline-block;
        min-width: 20px;
        height: 20px;
        text-align: center;
        color: #000;
        border-radius: 10px;
        background: @yellow;
    }
}

//nav
.b-main-nav {
    height: 60px;
    background-color: @yellow;
    position: relative;
    &__list {
        font-family: @f700;
        padding: 0;
        font-size: 15px;
        line-height: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        z-index: 5;
        margin: 0 -20px;
    }
    &__link {
        display: inline-block;
        height: 100%;
        padding: 0 20px;
        &:hover {
            color: #000;
            background-color: #ffe95e;
        }
    }
}

//slider start
.b-slider {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ffe95e;
    margin-bottom: 55px;
}

// best-content start элемент с Лучшее и интересное
.b-best-content {
    font-size: 0;
    line-height: 0;
    margin-bottom: 55px;
    &__title {
        margin-bottom: 36px;
        font-family: @f700;
        font-size: 25px;
        line-height: 25px;
        text-transform: none;
    }
    &__wrapper {
        margin: 0 -5px;
    }
    &__item {
        display: inline-block;
        padding: 5px;
        width: 25%;
        vertical-align: top;
    }
    &__link {
        display: block;
        width: 100%;
        height: auto;
    }
    &__picture {
        width: 100%;
        height: auto;
    }
    &__item--medium {
        width: 50%;
    }
}


/* ----------  advantages start блок преимуществ   ------------ */

.b-advantages {
    line-height: 150px;
    &__link {
        display: inline-block;
        height: 70px;
        line-height: 70px;
        width: 25%;
    }
    &__icon {
        display: inline-block;
        width: 70px;
        height: 70px;
        vertical-align: middle;
        &--delivery {
            background-image: url(../../images/adv-1.svg);
        }
        &--price {
            background-image: url(../../images/adv-2.svg);
        }
        &--return {
            background-image: url(../../images/adv-3.svg);
        }
        &--payment {
            background-image: url(../../images/adv-4.svg);
        }
    }
    &__title {
        font-family: @f700;
        font-size: 13px;
        line-height: 18px;
        display: inline-block;
        width: 150px;
        margin-left: 20px;
        text-align: left;
        vertical-align: middle;
        letter-spacing: normal;
    }
}


/* ----------  Good content  ---------- */

.b-good-content {
    margin-top: 60px; // потому что сверху блок линии hr
    font-size: 0;
    line-height: 0;
    margin-bottom: 25px;
    &__title {
        font-family: @f700;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 35px;
        text-transform: none;
    }
    &__wrapper {
        margin: 0 -5px;
    }
    &__item {
        display: inline-block;
        width: 25%;
        padding: 5px;
        padding-bottom: 35px;
        vertical-align: top;
    }
    &__link {
        display: block;
    }
    &__picture {
        width: 100%;
        margin-bottom: 20px;
    }
    &__category {
        font-family: @f700;
        font-size: 20px;
        line-height: 20px;
        display: inline-block;
        width: 100%;
        text-align: center;
        text-transform: none;
    }
}

// end

/* -----------  Brands  ----------- */

.b-brand {
    margin: 60px 0 36px 0;
    text-align: right;
    *:focus {
        outline: none;
    }
    &__title {
        display: inline-block;
        font-family: @f700;
        font-size: 25px;
        line-height: 32px;
        text-transform: none;
        float: left;
    }
    &__buttons {
        width: 30px;
        height: 1px;
        display: inline-block;
        position: relative;
        float: right;
        right: 27px;
        top: 17px;
    }
}

// элмененты брендов 
.b-brand {
    &__wrap-item {
        overflow: hidden;
        margin: 34px -5px 0 -5px;
        clear: both;
    }
    &__item {
        display: inline-block;
        width: 190px;
        height: 130px;
        margin: 5px;
        text-align: center;
        vertical-align: top;
        border: 1px solid #ccc;
        line-height: 128px;
    }
    &__image {
        max-height: 95%;
        max-width: 100%;
        vertical-align: middle;
    }
    &__switch {
        display: inline-block;
        border: 1px solid #ccc;
        height: 35px;
        min-width: 35px;
        font-family: @f700;
        font-size: 13px;
        line-height: 35px;
        padding: 0 15px 0 15px;
        vertical-align: middle;
        margin: 0 60px 0 5px;
    }
}


/* -----------  Advertising  ----------- */

.b-advertising {
    display: block;
    margin-bottom: 55px;
    &__image {
        width: 100%;
        &--desktop {}
        &--tablet {
            display: none;
        }
        &--mobile {
            display: none;
        }
        &--over-small {
            display: none;
        }
    }
}


/* ----------  Recomend  ---------- */

.b-recommend {
    margin-top: 58px;
    margin-bottom: 68px;
    *:focus {
        outline: none;
    }
    &__title {
        display: inline-block;
        font-family: @f700;
        font-size: 25px;
        line-height: 25px;
        text-transform: none;
        float: left;
    }
    &__buttons {
        width: 30px;
        height: 1px;
        display: inline-block;
        position: relative;
        float: right;
        right: 25px;
        top: 10px;
    }
    &__wrap-item {
        clear: both;
        padding-top: 20px;
        overflow: hidden;
    }
    &__item {
        display: inline-block;
        vertical-align: top;
        padding: 5px 30px 0 30px;
    }
    &__link {}
    &__image-container {
        line-height: 220px;
        height: 220px;
        text-align: center;
    }
    &__image {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }
    &__name {
        text-transform: none;
        font-family: @f700;
        font-size: 15px;
        line-height: 21px;
        height: 63px;
        margin: 35px 0 0 0;
        overflow: hidden;
    }
    &__cost {
        font-family: @f900;
        font-size: 24px;
        line-height: 31px;
        height: 35px;
        margin: 0px;
        overflow: hidden;
        &--currency {
            font-size: 11px;
        }
    }
}

//switch buttons
.b-recommend {
    &__switch {}
} //удалить все этого типа

/*  ---------- Tabs ----------  */

// заголовок табов
.b-tab {
    margin-bottom: 40px;
    &__title {
        font-family: @f700;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 13px;
        letter-spacing: 1.5px;
    }
    &__easy-title {
        margin: 0px;
        font-family: @f300;
        line-height: 30px;
    }
}

// Строка закладок
.b-tab {
    margin-top: 56px;
    &__tabs {
        height: 84px;
        line-height: 85px;
        margin: 0 -25px;
    }
    &__marker {
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 25px;
        height: 80px;
        cursor: pointer;
        &:before {
            content: '';
            position: relative;
            bottom: 2px;
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            margin-right: 5px;
            background-repeat: no-repeat;
        }
        &--recommend:before {
            background-image: url(../../images/star.svg);
        }
        &--choose:before {
            background-image: url(../../images/quest.svg);
        }
        &--video:before {
            background-image: url(../../images/star.svg);
        }
        &--novelty:before {
            background-image: url(../../images/quest.svg);
        }
        &--list:before {
            background-image: url(../../images/star.svg);
        }
    }
    &__go-to {
        display: inline-block;
        font-family: MuseoSansCyrl-700;
        font-size: 15px;
        text-transform: uppercase;
        border: 1px solid #ddd;
        padding: 10px 20px;
        line-height: 17px;
        float: right;
        margin-top: 15px;
        margin-right: 25px;
        cursor: pointer;
    }
    &__item {
        height: 1100px;
    }
}

.wrapper .active {
    font-weight: 700;
    &:after {
        display: block;
        position: relative;
        content: '';
        height: 5px;
        background-color: @yellow;
        bottom: 10px;
    }
}


/*  ---------- content in tab (tutorial) -----------  */

.b-tutorial {
    height: 550px;
    min-width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    &--dark {
        color: #fafafa;
        background-color: #121212;
        background-image: url(../../images/baner-1.jpg);
    }
    &--light {
        background-color: #fafafa;
    }
    &__left {
        width: 38%;
        display: inline-block;
        padding-top: 66px;
        vertical-align: top;
    }
    &__right {
        float: right;
        line-height: 550px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        margin-right: -4px;
    }
    &__title {
        font-size: 35px;
        line-height: 45px;
        font-family: @f700;
        text-transform: none;
        margin: 0;
        overflow: hidden;
        max-height: 100px;
    }
    &__description {
        margin-top: 22px;
        font-size: 15px;
        text-transform: none;
        line-height: 21px;
        overflow: hidden;
        max-height: 250px;
    }
    &__how {
        text-transform: none;
        &:link {
            color: #a4a4a4;
        }
        &:before {
            content: '';
            position: relative;
            bottom: 2px;
            display: inline-block;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            margin-right: 5px;
            background-repeat: no-repeat;
            background-image: url(../../images/quest.svg);
        }
    }
    &__more {
        display: inline-block;
        font-family: @f700;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        background-color: @yellow;
        padding: 11px 20px 10px 20px;
        margin: 15px 5px 0 0;
        &--recolor {
            background-color: #fff;
            border: 1px solid #ddd;
        }
    }
}


/*  ---------- card of product -----------  */

.b-product {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 290px;
    height: 465px;
    background-color: #fff;
    margin: 4px;
    overflow: hidden;
    line-height: 25px;
    padding: 0 23px 0 23px;
    &__sticker-area {
        position: absolute;
        max-height: 240px;
        top: 15px;
        &--hit:before {
            content: 'Хит';
            color: #fff;
            display: block;
            width: 36px;
            height: 18px;
            background-color: #309ace;
            font-family: @f900;
            font-size: 11px;
            line-height: 20px;
            text-align: center;
        }
    }
    &__sticker-stock {
        color: #fff;
        display: inline-block;
        position: relative;
        width: 65px;
        height: 18px;
        background-color: #eb2e2c;
        font-family: @f900;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
    }
    &__helper {
        display: none;
        position: absolute;
        top: 0px;
        color: #fff;
        background-color: #eb2e2c;
        border-radius: 4px;
        left: 70px;
        width: 140px;
        padding: 5px;
        text-align: left;
        font-size: 12px;
        text-transform: none;
        font-family: @f500;
    }
    &__sticker-stock:hover .b-product__helper {
        display: inline-block;
    }
    &__image-container {
        display: block;
        height: 56%;
        line-height: 260px;
        overflow: inherit;
        text-align: center;
    }
    &__image {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }
    &__name {
        display: inline-block;
        height: 70px;
        overflow: inherit;
        text-transform: none;
        font-family: @f700;
        font-size: 15px;
        line-height: 21px;
    }
    &__cost {
        height: 40px;
        overflow: inherit;
        font-family: @f900;
        font-size: 24px;
        line-height: 31px;
        margin: 0px;
        color: #000;
        &--currency {
            font-size: 11px;
        }
        &--hot {
            color: #eb2e2c;
        }
    }
    &__cost-past {
        height: 40px;
        overflow: inherit;
        font-family: @f900;
        font-size: 24px;
        line-height: 31px;
        margin: 0;
        margin-left: 5px;
        color: #000;
        font-size: 10px;
        vertical-align: middle;
        line-height: 11px;
        height: 23px;
        width: 100px;
        text-transform: none;
        display: inline-block;
    }
    &__add-information {
        height: 38px;
        overflow: inherit;
        font-family: @f300;
        font-size: 13px;
        line-height: 17px;
        text-transform: none;
        letter-spacing: 0.13px;
        color: #000;
    }
}


/*  ---------- Stars assement оценка-звёздочки -----------  */

.b-assessment {
    height: 30px;
    overflow: inherit;
    font-family: @f300;
    font-size: 13px;
    text-transform: none;
    &__star {
        display: inline-block;
        width: 12px;
        height: 11px;
        background-image: url(../../images/star.png);
        background-repeat: no-repeat;
        &--full {
            background-position: 0;
        }
        &--empty {
            background-position: -15px;
        }
    }
    &__meter {
        margin-left: 5px;
    }
}


/*  ---------- Story -----------  */

.b-history-watch {
    height: 200px;
    margin-bottom: 35px;
    *:focus {
        outline: none;
    }
    &__title {
        font-family: @f700;
        font-size: 25px;
        line-height: 25px;
        text-transform: none;
        display: inline-block;
    }
    &__buttons {
        width: 30px;
        height: 1px;
        display: inline-block;
        position: relative;
        float: right;
        right: 32px;
    }
    &__wrap-item {
        overflow: hidden;
        margin: 30px auto 0 -5px;
    }
    &__item {
        line-height: 120px;
        display: inline-block;
        width: 290px;
        height: 120px;
        margin: 5px;
        padding-left: 15px;
        vertical-align: top;
        border: 1px solid #ccc;
        position: relative;
    }
    &__image-container {
        line-height: 80px;
        display: inline-block;
        width: 90px;
        height: 80px;
        text-align: center;
        vertical-align: middle;
    }
    &__image {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }
    &__name-wrapper {
        position: absolute;
        top: 23px;
        left: 120px;
        overflow: hidden;
        width: 150px;
        height: 51px;
        margin: 0;
        line-height: 17px;
        display: flex;
    }
    &__name {
        margin: auto 0;
        font-family: @f700;
        font-size: 15px;
        display: inline-block;
        text-transform: none;
    }
    &__cost {
        font-family: @f900;
        font-size: 24px;
        margin: 0px;
        display: inline-block;
        position: absolute;
        top: 70px;
        left: 120px;
        width: 150px;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        &--hot {
            color: red;
        }
    }
    &--currency {
        font-size: 11px;
    }
}


/*   ----------- Subscribe ------------  */

.b-subscribe {
    min-width: 590px;
    &__title {
        font-family: @f700;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 13px;
        text-transform: none;
    }
    &__description {
        font-size: 15px;
        display: inline-block;
        width: 500px;
        text-transform: none;
        margin: 0;
    }
    &__form {
        display: inline-block;
        vertical-align: text-bottom;
        float: right;
        margin-bottom: 15px;
    }
    &__mail {
        font-size: 15px;
        display: inline-block;
        width: 380px;
        height: 40px;
        margin-right: 10px;
        padding-left: 20px;
        padding-right: 10px;
        vertical-align: middle;
        color: #666;
        border: 1px solid #ddd;
        border-radius: 0;
    }
    &__button {
        font-family: @f700;
        font-size: 15px;
        height: 40px;
        vertical-align: middle;
        text-transform: uppercase;
        border: none;
        background-color: @yellow;
        padding: 0 40px 0 40px;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}


/*   ----------- Footer ------------  */

.b-footer {
    font-size: 0;
    padding: 45px 0 0 0;
    text-transform: none;
    background-color: #efede7;
    &__column {
        font-size: 15px;
        display: inline-block;
        width: 25%;
        vertical-align: top;
        &--tablet {
            display: none;
        }
    }
    &__title {
        font-family: @f700;
        font-size: 18px;
        line-height: 18px;
        margin: 0;
        margin-bottom: 10px;
    }
    &__arrow {
        display: inline-block;
    }
    &__link-list {
        width: 250px;
        margin-top: 10px;
    }
    &__link {
        font-size: 13px;
        line-height: 22px;
        color: #666;
        &:hover {
            color: #333;
        }
    }
    &__phone {
        margin: 0 0 5px 0;
    }
    &__call {
        font-family: @f700;
    }
    &__call-hint {
        font-size: 13px;
        line-height: 19px;
        display: block;
    }
}

// social
.b-footer__social {
    margin-top: 20px;
    margin-left: -14px;
    line-height: 30px;
    width: 250px;
}

.b-footer__icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 14px;
    background: url(../../images/social-sprite.png) no-repeat top left;
    &--vk {
        background-position: -360px 0;
    }
    &--vk:hover {
        background-position: -405px 0;
    }
    &--fb {
        background-position: 0 0;
    }
    &--fb:hover {
        background-position: -45px 0;
    }
    &--tw {
        background-position: -270px 0;
    }
    &--tw:hover {
        background-position: -315px 0;
    }
    &--ok {
        background-position: -180px 0;
    }
    &--ok:hover {
        background-position: -225px 0;
    }
    &--in {
        background-position: -90px 0;
    }
    &--in:hover {
        background-position: -135px 0;
    }
    &--yt {
        background-position: -450px 0;
    }
    &--yt:hover {
        background-position: -495px 0;
    }
    &--gp {
        background-position: -541px 0;
    }
    &--gp:hover {
        background-position: -586px 0;
    }
}

// bottom arrow
.b-footer {
    &__additional {
        font-size: 13px;
        line-height: 60px;
        margin: 20px 0 0 0;
        color: #666;
        border-top: 1px solid #e4e1d9;
        min-width: 600px;
    }
    &__disign {
        float: right;
        margin-right: 90px;
    }
    &__img-aero {
        position: relative;
        top: 3px;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 20px;
    }
    &__link-aero {
        margin-left: 5px;
        vertical-align: baseline;
        text-decoration: underline;
    }
    &__link-aero:link {
        color: #666;
    }
}

//end footer
