@f300: MuseoSansCyrl-300;
@f500: MuseoSansCyrl-500;
@f700: MuseoSansCyrl-700;
@f900: MuseoSansCyrl-900;
@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url(../../fonts/MSC-300.ttf);
}

@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url(../../fonts/MSC-500.ttf);
}

@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url(../../fonts/MSC-700.ttf);
}

@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url(../../fonts/MSC-900.ttf);
}

body {
    font-family: 'MuseoSansCyrl-500', Arial, helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 21px;
    text-transform: uppercase;
}