/*  ---------- General ----------  */

// Size Control
* {
    box-sizing: border-box;
    //transition: 300ms;
}

// default reset
body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    &:link {
        color: #000;
    }
    &:visited {
        color: #320;
    }
    &:hover {
        color: #640;
    }
    &:active {
        color: #960;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

//general tags
.b-body {
    width: 100%;
}

.b-container {
    max-width: 1250px;
    padding: 0 30px;
    margin: 0 auto;
}

//hr
.b-horizontal-line {
    margin: 0;
    border: 0;
    clear: both;
    border-bottom: 1px solid #eee;
}

/* ----- Focus -----*/