/* ---------- General  ---------- */

.b-container {
    padding: 0 20px;
}

body {
    font-size: 11px;
    line-height: 21px;
}


/* ----------  Header  ---------- */

.b-information {
    height: 36px;
    padding-top: 6px;
    &__phone {
        font-size: 11px;
    }
    &__top-list {
        width: 60%;
    }
}

.b-header {
    height: 78px;
    line-height: 75px;
    &__form {
        width: 45%;
        display: inline-block;
    }
    &__search {
        width: 80%;
    }
    &__logo-link {
        width: 33%;
    }
    &__search {
        margin: 0;
        width: 100%;
        margin-right: -28px;
    }
    &__login {}
    &__basket {}
}

.b-main-nav {
    height: 55px;
    &__list {
        line-height: 55px;
        font-size: 13px;
    }
}


/* ----------  Slider ---------- */

.fotorama__arr {
    top: 150px;
}


/* ----------  Best content  ---------- */

.b-best-content {
    margin-bottom: 30px;
    &__title {
        font-size: 20px;
        margin-bottom: 15px;
    }
}


/* -----------  Advantages преимущества  ----------- */

.b-advantages {
    line-height: 135px;
    margin-bottom: 20px;
}


/* -----------  Good content  ----------- */

.b-good-content {
    margin-top: 35px;
    &__title {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    &__item {
        margin-bottom: 15px;
        padding-bottom: 0px;
    }
    &__picture {
        margin-bottom: 20px;
    }
    &__category {
        font-size: 15px;
        line-height: 20px;
    }
}


/* -----------  Brands ----------- */

.b-brand {
    margin-top: 25px;
    &__item {
        width: 145px;
        height: 100px;
        line-height: 100px;
    }
    &__wrap-item {
        margin-top: 10px;
    }
}


/* -----------  Advertising реклама  ----------- */

.b-advertising {
    margin-bottom: 30px;
}


/* -----------  Recomend  ----------- */

.b-recommend {
    margin-top: 40px;
    margin-bottom: 55px;
    &__title {
        font-size: 20px;
        line-height: 20px;
    }
    &__item {
        width: 235px;
    }
    &__image-container {
        height: 165px;
        line-height: normal;
    }
    &__name {
        font-size: 13px;
        margin-top: 3px;
        line-height: 18px;
        height: 50px;
    }
    // &__buttons {
    //     display: none;
    // }
}


/* -----------  Tabs  ----------- */

.b-tab {
    margin-top: 40px;
    &__marker {
        font-size: 13px;
        padding: 0 10px;
    }
    &__tabs {
        margin: 0 -10px;
        height: 68px;
        line-height: 73px;
    }
    &__go-to {
        font-size: 13px;
        padding: 10px 15px;
        margin-right: 10px;
    }
}

.b-tutorial {
    height: 400px;
    &__left {
        width: 48%;
        padding-top: 20px;
    }
    &__title {
        font-size: 30px;
        line-height: 37px;
    }
    &__description {
        max-height: 150px;
    }
    &__right {
        line-height: 400px;
    }
    &__more {
        padding: 7px 10px;
    }
}

.b-product {
    height: 355px;
    width: 220px;
    &__image-container {
        line-height: 150px;
    }
    &__name {
        height: 36px;
        font-size: 13px;
        line-height: 18px;
    }
}


/* -----------  History watch  ----------- */

.b-history-watch {
    &__title {
        font-size: 20px;
    }
    &__wrap-item {}
    &__width-holder {}
    &__item {
        width: 220px;
    }
    &__image-container {}
    &__image {}
    &__name-wrapper {
        width: 100px;
    }
    &__name {}
    &__cost {
        font-size: 20px;
        width: 100px;
    }
    &--currency {
        font-size: 9px;
    }
}


/* -----------  Subscribe  ----------- */

.b-subscribe {
    &__title {
        font-size: 20px;
    }
    &__description {
        font-size: 13px;
        width: 50%;
    }
    &__form {
        width: 50%
    }
    &__mail {
        width: 70%;
    }
    &__button {
        width: 25%;
        font-size: 12px;
        padding: 0 10px 0 10px;
    }
}


/* -----------  Footer  ----------- */

.b-footer {}
