/*   ----------- Import ------------  */

//fonts
@import url(fonts.less);
//slider fotorama
@import url(fotorama.less);
//global - general css
@import url(global.less);
//variables
@import url(variables.less);

/*  ---------- Desktop 0-1280px +  -----------  */

@import url(desktop.less);

/*  ---------- Laptop 960-1280px  ---------- */

@media screen and (max-width: 1279px) {
    @import url(laptop.less);
}


/*  ---------- Tablet 600-960px  ---------- */

@media screen and (max-width: 959px) {
    @import url(tablet.less);
}


/*  ---------- Mobile 320-600px  ---------- */

@media screen and (max-width: 599px) {
    @import url(mobile.less);
}


/*  ---------- Over Small  ---------- */

@media screen and (max-width: 360px) {
    @import url(over-small.less);
}
