/* ----------  General  ---------- */


/* ----------  Header  ---------- */

.b-header {
    height: 52px;
    line-height: 52px;
    &__logo {
        height: 31px;
    }
    &__basket {
        margin-top: 0;
        width: 22px;
        height: 22px;
        margin-left: 0;
        background-image: url(../../images/basket-m.png);
    }
    &__meter {
        display: none;
    }
}

.b-mobile-nav {
    top: 50px;
    font-size: 15px;
    &__item {
        line-height: 40px;
        border-bottom: 1px solid #666;
    }
}


/* ----------  Best content  ---------- */

.b-slider {
    margin-bottom: 40px;
}

.fotorama__arr {
    top: 40px;
    transform: scale(0.5);
    &--next {
        right: 10px;
    }
    &--prev {
        left: 10px;
    }
}


/* ----------  Best content  ---------- */

.b-best-content {
    &__title {
        font-size: 20px;
    }
    &__item {
        width: 100%;
    }
}


/* ----------  Преимущества  ---------- */

.b-advantages {
    margin: 0;
    &__link {
        width: 100%;
    }
    &__title {
        width: 50%;
    }
}


/* ----------  Good content  ---------- */

.b-good-content {
    margin-top: 25px;
    &__title {
        font-size: 20px;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__picture {
        margin-bottom: 5px;
    }
}


/* ----------  Brands  ---------- */

.b-brand {
    position: relative;
    height: 160px;
    &__title {
        font-size: 20px;
    }
    &__switch {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 140px;
        text-align: center;
    }
    &__item {
        height: 75px;
        line-height: 74px;
    }
}


/* ----------  Picture  ---------- */

.b-advertising {
    &__image {
        width: 100%;
        &--desktop {
            display: none;
        }
        &--tablet {
            display: none;
        }
        &--mobile {
            display: block;
        }
    }
}


/* ----------  Recomend  ---------- */

.b-recommend {
    margin-top: 25px;
    margin-bottom: 20px;
    &__title {
        font-size: 20px;
    }
    &__item {
        padding: 5px;
        margin: 0 5px;
        border: 1px solid #ccc;
    }
    &__image-container {
        height: 120px;
    }
    &__name {
        line-height: 15px;
        height: 45px;
    }
    &__cost {
        font-size: 20px;
    }
}


/* ----------  Tabs  ---------- */

.b-tab {
    &__title {
        font-size: 25px;
    }
    &__tabs {
        margin-top: 55px;
    }
    &__marker {
        &:before {
            height: 24px;
            width: 24px;
        }
    }
    &__go-to {
        left: 10px;
        width: 95%;
        top: 35px;
        text-align: center;
    }
}


/* ----------  History watch  ---------- */

.b-history-watch {
    &__title {
        font-size: 20px;
    }
}


/* ----------  Subscribe  ---------- */


/* ----------  Footer  ---------- */
