/* ----------  Picture  ---------- */

.b-advertising {
    &__image {
        width: 100%;
        &--desktop {
            display: none;
        }
        &--tablet {
            display: none;
        }
        &--mobile {
            display: none;
        }
        &--over-small {
            display: block;
        }
    }
}