/* ----------  General  ---------- */


/* ----------  Header  ---------- */

.b-information {
    display: none;
}

.b-horizontal-line {
    &--header {
        display: none;
    }
}


/* --- Animation of menu button --- */

.b-menu-mobile {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 20px;
    &:before {
        content: '';
        transition: 250ms;
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 0;
        width: 20px;
        border-top: 2px solid #999;
        box-shadow: 0px 6px 0px 0px rgba(153, 153, 153, 1), 0px -6px 0px 0px rgba(153, 153, 153, 1);
    }
    &:hover {
        cursor: pointer;
        &:before {
            width: 28px;
            left: -4px;
            box-shadow: 0px 10px 0px 0px rgba(153, 153, 153, 1), 0px -10px 0px 0px rgba(153, 153, 153, 1);
        }
    }
}

.b-menu-mobile {
    &:after {
        content: '';
        transition: 250ms;
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 0;
        width: 20px;
        border-top: 2px solid #999;
        box-shadow: 0px 6px 0px 0px rgba(153, 153, 153, 1), 0px -6px 0px 0px rgba(153, 153, 153, 1);
    }
    &:hover {
        cursor: pointer;
        &:after {
            width: 28px;
            left: -4px;
            box-shadow: 0px 10px 0px 0px rgba(153, 153, 153, 1), 0px -10px 0px 0px rgba(153, 153, 153, 1);
        }
    }
}

.js-header-menu-open {
    &:before,
    &:hover:before {
        transform: rotate(45deg);
        box-shadow: none;
    }
    &:after,
    &:hover:after {
        transform: rotate(-45deg);
        box-shadow: none;
    }
}


/* --- end animate --- */

.b-header {
    height: 60px;
    line-height: 55px;
    &__form {
        float: right;
        position: relative;
        right: 80px;
        width: auto;
    }
    &__search {
        width: 80%;
    }
    &__right-side {
        margin-right: -25px;
    }
    &__logo {
        height: 35px;
    }
    &__logo-link {
        width: auto;
    }
    &__search {
        display: none;
    }
    &__button {
        left: 30px;
    }
    &__login {
        display: none;
    }
    &__basket {}
}

.b-main-nav {
    display: none;
}

.js-mobile-nav-open {
    left: 0;
}

.b-mobile-nav {
    font-size: 18px;
    &__item {
        line-height: 50px;
        border-bottom: 1px solid #666;
    }
}


/* ----------  Slider ---------- */

.fotorama {
    overflow: visible;
    &__arr {
        top: 95px;
    }
    &__nav-wrap {
        bottom: -27px;
    }
    &__nav {
        text-align: center;
    }
    &__nav--dots .fotorama__nav__frame {
        width: 10px;
    }
    &__dot {
        width: 6px;
        height: 6px;
        margin-right: 3px;
    }
}

.fotorama__arr {
    display: none;
}


/* ----------  Best content  ---------- */

.b-best-content {
    margin-bottom: 30px;
    &__title {
        font-size: 25px;
        line-height: 25px;
    }
    &__item {
        width: 50%;
    }
    &__item--medium {
        width: 100%;
    }
    &__picture {}
}


/* ----------  Преимущества  ---------- */

.b-advantages {
    line-height: 100px;
    &__link {
        width: 50%;
    }
}


/* ----------  Good content  ---------- */

.b-good-content {
    &__item {
        width: 50%;
    }
    &__title {
        font-size: 25px;
        line-height: 25px;
    }
    &__categoty {
        font-size: 20px;
    }
}


/* ----------  Brands  ---------- */

.b-brand {
    &__switch {
        margin: 0;
    }
    &__buttons {
        display: none;
    }
}


/* ----------  Picture  ---------- */

.b-advertising {
    &__image {
        width: 100%;
        &--desktop {
            display: none;
        }
        &--tablet {
            display: block;
        }
        &--mobile {
            display: none;
        }
    }
}


/* ----------  Recomend  ---------- */

.b-recommend {
    &__buttons {
        display: none;
    }
    &__title {
        font-size: 25px;
        line-height: 25px;
    }
}


/* ----------  Tabs  ---------- */

.b-tab {
    position: relative;
    &__tabs {
        margin-top: 20px;
        overflow: auto;
        white-space: nowrap;
        height: 100px;
    }
    &__go-to {
        position: absolute;
        right: 10px;
        top: -20px;
    }
}

.b-tutorial {
    height: auto;
    &__title {
        line-height: 25px;
        font-size: 25px;
    }
    &__right {
        width: 100%;
        float: none;
    }
    &__left {
        width: 100%
    }
}


/* ----------  History watch  ---------- */

.b-history-watch {
    height: 300px;
    border-bottom: 1px solid #eee;
    &__title {
        font-size: 25px;
    }
    &__buttons {
        display: none;
    }
    &__item {
        height: auto;
    }
    &__image-container {
        display: block;
        margin: 0 auto;
    }
    &__name-wrapper {
        display: block;
        position: static;
        width: 90%;
        margin: 0 auto;
    }
    &__name {
        font-size: 11px;
    }
    &__cost {
        display: block;
        position: static;
        font-size: 17px;
        &--currency {
            font-size: 10px;
        }
    }
}


/* ----------  Subscribe  ---------- */

.b-subscribe__title {
    cursor: pointer;
    &:before {
        transition: 250ms;
        content: '';
        display: inline-block;
        float: right;
        position: relative;
        width: 14px;
        height: 14px;
        border-left: solid 2px #cdcdcd;
        transform: rotate(-45deg);
    }
    &:after {
        transition: 250ms;
        content: '';
        display: inline-block;
        float: right;
        position: relative;
        right: -15px;
        width: 14px;
        height: 14px;
        border-right: solid 2px #cdcdcd;
        transform: rotate(45deg);
    } //Свёрнутый аккардион
}

.b-subscribe__title.b-js-active {
    &:after {
        transform: rotate(-45deg);
    } // Развёрнутый аккардион
    &:before {
        transform: rotate(45deg);
    }
}

.b-subscribe {
    min-width: 0;
    &__title {
        margin-bottom: 20px;
    }
    &__dropdown {
        display: none;
        min-width: 590px;
    }
    &__description {
        width: 90%;
        display: block;
        margin-bottom: 20px;
        font-size: 15px;
    }
    &__form {
        float: none;
        width: 90%;
        display: block;
        margin-bottom: 40px;
    }
}


/* ----------  Footer  ---------- */

.b-js-footer__title {
    cursor: pointer;
    &:after {
        transition: 250ms;
        content: '';
        display: inline-block;
        float: right;
        width: 14px;
        height: 14px;
        border-bottom: solid 2px #cdcdcd;
        border-right: solid 2px #cdcdcd;
        transform: rotate(45deg);
    } //Свёрнутый аккардион
}

.b-js-active .b-js-footer__title {
    &:after {
        transform: rotate(-135deg);
    } // Развёрнутый аккардион
}

.b-footer {
    padding-top: 15px;
    &__column {
        display: block;
        width: auto;
        margin-bottom: 21px;
    }
    &__title {
        line-height: 24px;
        &--call {
            margin-bottom: 25px;
        }
    }
    &__link-list {
        // акардион
        display: none;
        margin-bottom: 15px;
    }
    &__column {
        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid #ddd;
        }
        &--tablet {
            display: block;
        }
    }
    &__link-list {
        width: auto;
    }
    &__link {
        line-height: 30px;
    }
    &__social {
        width: auto;
        line-height: 50px;
    }
    &__phone {
        height: 80px;
        width: 180px;
        vertical-align: top;
        display: inline-block;
        margin: 0 5px 0 0;
    }
    &__call {
        padding: 10px 30px;
        height: auto;
        display: block;
        background-color: @yellow;
    }
    &__call-hint {
        font-size: 11px;
    }
    &__additional {
        border: none;
        line-height: 35px;
        margin-top: -10px;
        padding-bottom: 30px;
    }
    &__disign {
        float: none;
    }
}
